@font-face
{
	font-family: 'frutiger-black-webfont';
	src: url('v2/fonts/frutiger-black-webfont.eot');
	src: url('v2/fonts/frutiger-black-webfont.eot?#iefix') format('embedded-opentype'),
				url('v2/fonts/frutiger-black-webfont.woff') format('woff'),
				url('v2/fonts/frutiger-black-webfont.ttf') format('truetype'),
				url('v2/fonts/frutiger-black-webfont.svg#frutiger-black-webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'frutiger-bold-webfont';
	src: url('v2/fonts/frutiger-bold-webfont.eot');
	src: url('v2/fonts/frutiger-bold-webfont.eot?#iefix') format('embedded-opentype'),
				url('v2/fonts/frutiger-bold-webfont.woff') format('woff'),
				url('v2/fonts/frutiger-bold-webfont.ttf') format('truetype'),
				url('v2/fonts/frutiger-bold-webfont.svg#frutiger-bold-webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'frutiger-reg-webfont';
	src: url('v2/fonts/frutiger-reg-webfont.eot');
	src: url('v2/fonts/frutiger-reg-webfont.eot?#iefix') format('embedded-opentype'),
				url('v2/fonts/frutiger-reg-webfont.woff') format('woff'),
				url('v2/fonts/frutiger-reg-webfont.ttf') format('truetype'),
				url('v2/fonts/frutiger-reg-webfont.svg#frutiger-reg-webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

.frutiger-black
{
	font-family:'frutiger-black-webfont', 'Arial Black', Gadget, sans-serif !important;
}

.frutiger-bold
{
	font-family:'frutiger-bold-webfont', 'Arial Black', Gadget, sans-serif !important;
}

.frutiger-regular
{
	font-family:'frutiger-reg-webfont', 'Arial Black', Gadget, sans-serif !important;
}