<span jwcid="$content$">
  <div class="license-agreement">
    <div id="Content">
      <p>
        THIS SUBSCRIPTION AGREEMENT (THIS &quot;<strong>AGREEMENT</strong>&quot;)
        IS BY AND BETWEEN PING IDENTITY CORPORATION (&quot;<strong>
          PING IDENTITY
        </strong>&quot;) AND THE COMPANY OR ENTITY ON WHOSE BEHALF YOU ARE
        ACCEPTING THIS AGREEMENT (&quot;<strong>CUSTOMER</strong>&quot;).
        YOU REPRESENT THAT YOU HAVE THE AUTHORITY TO BIND CUSTOMER TO THE
        TERMS OF THIS AGREEMENT. BY AGREEING TO THE TERMS OF THIS
        AGREEMENT OR BY ACCESSING, USING OR INSTALLING ANY PART OF THE
        PRODUCTS, CUSTOMER EXPRESSLY AGREES TO AND CONSENTS TO BE BOUND BY
        ALL OF THE TERMS OF THIS AGREEMENT. IF CUSTOMER DOES NOT AGREE TO
        ANY OF THE TERMS OF THIS AGREEMENT, CUSTOMER IS PROHIBITED FROM
        DOWNLOADING, INSTALLING, ACTIVATING OR USING THE PRODUCTS. THE
        EFFECTIVE DATE OF THIS AGREEMENT IS THE DATE ON WHICH CUSTOMER
        ACCEPTS THESE TERMS BY CLICKING &quot;ACCEPT&quot; OR THE
        SIMILARLY LABELED BUTTON INDICATING ASSENT (THE &quot;<strong>
          EFFECTIVE DATE
        </strong>&quot;). COLLECTIVELY, PING IDENTITY AND CUSTOMER MAY BE
        REFERRED TO AS THE &quot;PARTIES&quot; OR IN THE SINGULAR AS A
        &quot;PARTY&quot;.
      </p>
      <p>
        For good and valuable consideration, the receipt and sufficiency
        of which is hereby acknowledged, the Parties agree as follows:
      </p>
      <p>
        <strong>1. Definitions.</strong>
      </p>
      <p>
        &quot;<strong>Administrator</strong>&quot; is an individual who
        has been granted administrative permissions by Customer to the
        Service.
      </p>
      <p>
        &quot;<strong>Affiliate(s)</strong>&quot; means any entity that
        directly or indirectly controls, is controlled by, or is under
        common control with the subject entity. &quot;Control,&quot; for
        purposes of this definition, means direct or indirect ownership or
        control of more than 50% of the voting interests of the subject
        entity.
      </p>
      <p>
        &quot;<strong>Customer Data</strong>&quot; means all electronic
        data or information submitted by Customer and its Users to the
        Service. Customer Data may include Personal Data.
      </p>
      <p>
        &quot;<strong>Customer Identity</strong>&quot; means, unless
        otherwise set forth on an Order Form, a unique set of identity
        attributes associated with (i)&nbsp;customers of Customer, if such
        customer is an individual, or (ii)&nbsp;employees, contractors,
        subcontractors or temporary staff of customers of Customer, if
        such customer is an entity, in each case acting on such
        individual&apos;s behalf. Customer Identities are only permitted
        to access resources of Customer.
      </p>
      <p>
        &quot;<strong>Documentation</strong>&quot; means Ping
        Identity&apos;s then current on-line administrator user&apos;s
        manuals for the Products made generally available by Ping Identity
        on its website.
      </p>
      <p>
        &quot;<strong>Malicious Code</strong>&quot; means viruses, worms,
        Trojan horses and other harmful or malicious code, files, scripts,
        agents or programs.
      </p>
      <p>
        &quot;<strong>Order Form</strong>&quot; means any ordering
        document for Customer&apos;s purchases from Ping Identity that is
        executed by both Parties.
      </p>
      <p>
        &quot;<strong>Partner Identity</strong>&quot; means, unless
        otherwise set forth on an Order Form, a unique set of identity
        attributes associated with an employee, contractor, subcontractor
        or temporary staff of a business partner of Customer, acting on
        behalf of such business partner and not for the benefit of such
        individual. Partner Identities are only permitted to access
        resources of Customer.
      </p>
      <p>
        &quot;<strong>Personal Data</strong>&quot; has the meaning assigned to it in the DPA.
      </p>
      <p>
        &quot;<strong>Products</strong>&quot; means the Software, Service,
        Trial Products (defined in Section 2.3) and Beta Versions (defined
        in Section 2.4).
      </p>
      <p>
        &quot;<strong>Service</strong>&quot; means web-based or mobile
        applications provided by Ping Identity that are identified on an
        Order Form or otherwise made available to Customer.
      </p>
      <p>
        &quot;<strong>Software</strong>&quot; means the downloadable
        software programs offered by Ping Identity that are identified
        on an Order Form or otherwise downloaded or installed by Customer.
      </p>
      <p>
        &quot;<strong>Support Services</strong>&quot; means those
        maintenance and support services that Customer obtains from Ping
        Identity set forth in Section 2.7 below.
      </p>
      <p>
        &quot;<strong>Workforce Identity</strong>&quot; means, unless
        otherwise set forth on an Order Form, a unique set of identity
        attributes associated with an employee, contractor, subcontractor,
        or temporary staff acting on Customer&apos;s behalf.
      </p>
      <p>
        &quot;<strong>Users</strong>&quot; means any Administrator and
        individuals (including non-human devices) who are provisioned by
        Customer (or Customer’s authorized third parties accessing Customer’s services)
        to utilize the Service in connection with Customer&apos;s use of the Service
        Order Forms define the specific number and
        type of Users that Customer is authorized to permit to utilize the
        Service.
      </p>
      <p>
        <strong>2. General.</strong>
      </p>
      <p>
        <strong>2.1 Provision of Service.&emsp;</strong>Subject to the
        terms and conditions of this Agreement, Ping Identity shall make
        the Service available to Customer during the term specified in the
        applicable Order Form(s) so that Customer may utilize the Service,
        solely for Customer&apos;s business use, all in accordance with
        this Agreement, the applicable Order Form(s) and the
        Documentation. Customer agrees that its purchase of the Products
        is neither contingent upon the delivery of any future
        functionality or features nor dependent upon any oral or written
        public comments made by Ping Identity with respect to future
        functionality or features.
      </p>
      <p>
        <strong>2.2 Software License Grant.&emsp;</strong>Subject to the
        terms and conditions of this Agreement, Ping Identity hereby
        grants Customer, during the term specified in the applicable Order
        Form(s), a limited, non-exclusive, non-sublicenseable,
        non-transferable license to install the Software, in
        machine-readable form only, and to use the Software solely for
        Customer&apos;s business use, all in accordance with this
        Agreement, any applicable Order Form(s) and the Documentation.
      </p>
      <p>
        <strong>2.3 Evaluation and Developer Licenses.&emsp;</strong>If
        Ping Identity provides Customer with a trial, evaluation or
        developer license to the Products (the &quot;<strong>
          Trial Products
        </strong>&quot;), Customer agrees to use the Trial Products solely
        for evaluation purposes, in a non-production environment, for a
        thirty (30) day evaluation period unless a different period is
        otherwise agreed to in writing by Ping Identity (the &quot;<strong
      >
          Trial Period
        </strong>&quot;). At the end of the Trial Period, Customer&apos;s
        right to use the Trial Products automatically expires and Customer
        agrees to uninstall the Trial Products and return to Ping Identity
        all copies or partial copies of the Trial Products and, upon
        request, certify to Ping Identity in writing that all copies or
        partial copies of the Trial Products have been deleted from
        Customer&apos;s computer libraries and/or storage devices and
        destroyed. If Customer desires to continue its use of the Trial
        Products beyond the Trial Period, Customer shall contact Ping
        Identity to acquire a license to, or subscription for, the Trial
        Products for the applicable fee.
      </p>
      <p>
        <strong>2.4 Beta Versions.&emsp;</strong>If Ping Identity and
        Customer mutually agree in writing, Customer may receive beta,
        preview or other pre-release Products or features from Ping
        Identity (&quot;<strong>Beta Versions</strong>&quot;). Beta
        Versions may not have been tested or debugged and are
        experimental, and any documentation may be in draft form. Ping
        Identity may change or discontinue Beta Versions at any time
        without notice.
      </p>
      <p>
        <strong>2.5&emsp;</strong>IN ADDITION TO ANY DISCLAIMERS IN
        SECTION 8.4, ANY TRIAL PRODUCTS AND BETA VERSIONS ARE PROVIDED ON
        AN &quot;AS-IS&quot; AND &quot;AS AVAILABLE&quot; BASIS AT
        CUSTOMER&apos;S SOLE RISK. PING IDENTITY SHALL NOT HAVE ANY
        LIABILITY FOR CUSTOMER&apos;S USE OF THE TRIAL PRODUCTS OR BETA
        VERSIONS UNDER THIS AGREEMENT UNDER ANY THEORY OF LIABILITY. Ping
        Identity does not provide support for Trial Products or Beta
        Versions. Trial Products and Beta Versions may be subject to
        reduced or different security, compliance and privacy commitments.
        The following Sections of this Agreement shall not apply to Trial
        Products or Beta Versions: 2.7, 6.6, 6.7, 8.1, 8.2, 8.3, 9.1 and
        10.1.
      </p>
      <p>
        <strong>
          2.6 Delivery, Installation and Acceptance of the Software.
        </strong>
      </p>
      <p>
        <strong>
          &emsp;(a) Delivery, Installation and Acceptance of the
          Software.&emsp;
        </strong>
        The Software will be delivered to Customer by electronic download.
        Customer will be solely responsible for installing any Software as
        permitted under this Agreement unless otherwise set forth in an
        Order Form. All Software will be deemed accepted upon delivery.
      </p>
      <p>
        <strong>&emsp;(b) Ping Identity Assistance.&emsp;</strong>In the
        event that Customer requires any administration, training,
        installation, health check, or similar services with respect to
        the Products, any such services and related Fees shall be set
        forth in an Order Form and such services shall be provided by Ping
        Identity without the need for a separate professional services
        agreement unless otherwise agreed to by the Parties.
      </p>
      <p>
        <strong>2.7 Support for Products.&emsp;</strong>Ping Identity will
        provide those Support Services for the Products in accordance with
        Ping Identity&apos;s support agreement available at
        <a target="_blank" href="https://www.pingidentity.com/support-policy">
          https://www.pingidentity.com/support-policy
        </a>
        &nbsp;(the &quot;<strong>Support Policy</strong>&quot;). Ping
        Identity is not obligated under the terms of this Agreement to
        provide any customer service or support to any User other than
        Administrators; such responsibility (if any) shall remain with
        Customer.
      </p>
      <p>
        <strong>2.8 Order Forms.&emsp;</strong>Customer and its Affiliates
        may place orders under this Agreement by executing Order Form(s).
        When an Affiliate of Customer signs an Order Form under this
        Agreement, the Affiliate shall be considered the Customer for
        purposes of such Order Form and shall be bound by the terms and
        conditions of this Agreement.
      </p>
      <p>
        <strong>2.9 Resellers.&emsp;</strong>In the event that Customer
        purchases subscriptions to the Products through an authorized
        reseller of Ping Identity (a &quot;<strong>Reseller</strong>&quot;),
        no Order Forms will be executed between Ping Identity and
        Customer. Ping Identity&apos;s official ordering documentation
        with the Reseller will contain the details of the subscriptions to
        the Products (including the scope of permitted use, quantities of
        licenses, etc.), and references to Order Forms herein will refer
        to such documentation., Customer should obtain such details from
        the Reseller, but Ping Identity can also confirm to Customer any
        such details of the subscription other than amounts payable. Fees
        and Taxes (if any) will be payable to Reseller, and the billing
        and payment terms will be determined pursuant to Customer&apos;s
        agreement(s) with Reseller in lieu of Section 4 hereof. Resellers
        have no authority to modify any of the terms of this Agreement,
        and may not grant Customer any rights to the Products beyond what
        is set forth in the ordering documentation between Ping Identity
        and Reseller.
      </p>
      <p>
        <strong>3. Use Guidelines; Restrictions.&emsp;</strong>Customer
        shall use the Products solely for its own business purposes in
        accordance with this Agreement and any related Order Form.
        Customer shall obtain any required authorizations or consents from
        Users for the transmission of Customer Data to Ping Identity and
        other third parties in connection with the Products and related
        processing by such persons, including as may be necessary under
        any data protection laws and regulations. Customer shall not:
        (i)&nbsp;license, sublicense, sell, resell, rent, lease, transfer,
        assign, distribute, time share, operate as a service bureau or
        managed service, or otherwise commercially exploit or make the
        Products available to any third party except as expressly
        contemplated by this Agreement; (ii)&nbsp;modify, adapt,
        alter, translate or create derivative works of the Products;
        (iii)&nbsp;frame or mirror any content forming part of the
        Service, other than on Customer&apos;s own intranets or otherwise
        for its own internal business purposes; (iv) reverse engineer,
        decompile or disassemble the Products (or otherwise attempt to
        derive the source code or underlying ideas or algorithms of the
        Software); (v) take any action that would cause the Products
        (including any license key) to be placed in the public domain;
        (vi)&nbsp;remove, alter, or obscure any proprietary notices of
        Ping Identity, its licensors or supplier included in the Products;
        (vii)&nbsp;send or store Malicious Code or infringing, obscene, threatening,
        libelous, or otherwise unlawful or tortious material, or spam; (viii) interfere
        with or disrupt the integrity or performance of the Service or the
        data contained therein, including conducting any load or
        penetration testing on the Service; (ix)&nbsp; attempt to gain
        unauthorized access to the Service or its related systems or networks;
        or (x) access the Products
        in order to (a)&nbsp;build a competitive product or service, or
        (b)&nbsp;copy any ideas, features, functions or graphics of the
        Products.
      </p>
      <p>
        <strong>4. Fees &amp; Payment; Audit.</strong>
      </p>
      <p>
        <strong>4.1 Fees.&emsp;</strong>Customer shall pay all fees
        specified in any Order Forms hereunder (the &quot;<strong>
          Fees
        </strong>&quot;). If Customer is purchasing through a Reseller,
        the applicable Fees will be set forth in Customer&apos;s ordering
        documentation with the Reseller and such Fees will be remitted to
        Reseller. Except as otherwise provided, all fees are quoted and
        payable in United States dollars. Except as otherwise specified
        herein or in an Order Form, stated fees are based on the scope of
        the Product subscriptions purchased and not actual usage, payment
        obligations are non-cancelable, and fees paid are non-refundable.
        In the event that Customer is purchasing a subscription based on
        the number of individual Users, connections or another metric set
        forth in an Order Form, and Customer&apos;s actual usage exceeds
        the applicable limit on such metric, overage charges shall apply
        based on the then-current per-unit rate on the applicable Order
        Form or as otherwise set forth therein, and Customer shall remit
        such charges to Ping Identity.
      </p>
      <p>
        <strong>4.2 Invoicing &amp; Payment Terms.&emsp;</strong>All Fees
        will be invoiced in advance and in accordance with the relevant
        Order Form. Unless otherwise stated in an Order Form, charges are
        due net thirty (30) days from the date of the invoice. Customer is
        responsible for maintaining complete and accurate billing and
        contact information. This section does not apply if Customer is
        purchasing through a Reseller.
      </p>
      <p>
        <strong>4.3 Overdue Payments.&emsp;</strong>For those payments
        that are invoiced, any payment not received from Customer by the
        due date may accrue (except with respect to charges then under
        reasonable and good faith dispute), at Ping Identity&apos;s
        discretion, late charges at the rate of 1.5% of the outstanding
        balance per month, or the maximum rate permitted by law, whichever
        is lower, from the date such payment was due until the date paid.
        This section does not apply if Customer is purchasing through a
        Reseller.
      </p>
      <p>
        <strong>4.4 Taxes.&emsp;</strong>Customer is responsible for paying all
        applicable direct or indirect local, state,
        federal or foreign taxes, levies, duties or similar governmental
        assessments of any nature, including value-added, sales, use or
        withholding taxes (collectively, &quot;<strong>Taxes</strong>&quot;).
        associated with its
        purchases hereunder, above and beyond the Fees, excluding taxes
        based on Ping Identity&apos;s net income or property, unless
        Customer provides Ping Identity with a valid tax exemption
        certificate authorized by the appropriate taxing authority. Unless
        otherwise stated, all prices set forth on an Order Form are
        exclusive of Taxes. This section does not apply if Customer is
        purchasing through a Reseller.
      </p>
      <p>
        <strong>
          4.5 Suspension of Service for Critical Cause.&emsp;
        </strong>
        &nbsp;Ping Identity reserves the right to suspend the Service
        provided to Customer if: (i)&nbsp;Customer is delinquent on any undisputed (in good faith)
        late payment obligations for more than thirty (30) days following
        written notice of such late payment; (ii)&nbsp;Ping Identity
        reasonably believes that suspension of the Service is necessary to
        comply with the law or requests of governmental entities; or
        (iii)&nbsp;Ping Identity reasonably determines that
        Customer&apos;s use of the Service in violation of this Agreement
        poses any security or vulnerability risk to Ping Identity or the
        Service. Customer shall only be responsible for fees and charges
        during the period of suspension if the underlying cause was
        Customer&apos;s breach of this Agreement. Ping Identity will
        endeavor to give advance notice of the suspension, to the extent
        it is able, taking into account the nature of the underlying
        cause. Ping Identity will restore access to the Service as soon as
        the underlying cause is mitigated.
      </p>
      <p>
        <strong>4.6 Audit of Software Usage.&emsp;</strong>
        &nbsp;Ping Identity will have
        the right, upon reasonable prior written notice to Customer, at a
        mutually agreeable time, and no more than once in any twelve (12)
        month period, to either audit or have an independent audit firm
        selected by Ping Identity audit Customer&apos;s equipment on which
        the Software is installed, and all related back-up files, to
        verify compliance with this Agreement. Any such audit will be
        conducted during normal business hours in a manner so as not to
        unreasonably interfere with Customer&apos;s normal operations.
        Such audits will be conducted at Ping Identity&apos;s expense. In
        the event that an audit reveals that Customer has failed to pay
        Fees consistent with its use of the Software, Customer will remit
        to Ping Identity the applicable Fees for the overuse, based on the
        then-current per-unit rate on the applicable Order Form(s), and
        reimburse Ping Identity for all reasonable costs and expenses
        incurred by Ping Identity in connection with such audit.
      </p>
      <p>
        <strong>5. Confidentiality.</strong>
      </p>
      <p>
        <strong>5.1 Definition of Confidential Information.&emsp;</strong>
        As used herein, &quot;<strong>
          Confidential Information
        </strong>&quot; means all confidential and proprietary information
        of a Party (the &quot;<strong>Disclosing Party</strong>&quot;)
        disclosed or made available to the other Party (the &quot;<strong>
          Receiving Party
        </strong>&quot;), whether orally or in writing, that is designated
        as confidential or that reasonably should be understood to be
        confidential given the nature of the information or the
        circumstances of disclosure, including without limitation, the
        terms and conditions of this Agreement, the Products, business and
        marketing plans, technology and technical information, pricing
        information, financial results and information, product designs,
        product roadmaps, results of penetration testing, security reports
        or audits and business processes. Confidential Information shall
        not include any information that: (i)&nbsp;is or becomes generally
        known to the public without breach of any obligation owed to the
        Disclosing Party; (ii)&nbsp;was known to the Receiving Party prior
        to its disclosure by the Disclosing Party without breach of any
        obligation owed to the Disclosing Party; (iii)&nbsp;was
        independently developed by the Receiving Party without breach of
        any obligation owed to the Disclosing Party; or (iv)&nbsp;is
        received from a third party without breach of any obligation owed
        to the Disclosing Party. Confidential Information specifically
        excludes Customer Data and Personal Data. Customer Data obligations are set forth in
        Section 6 below and Personal Data obligations are set forth in the DPA.
      </p>
      <p>
        <strong>5.2 Confidentiality.&emsp;</strong>The Receiving Party
        shall not disclose or use any Confidential Information of the
        Disclosing Party for any purpose outside the scope of this
        Agreement, except with the Disclosing Party&apos;s prior written
        permission. The Receiving Party may disclose Confidential
        Information to its Affiliates and service providers on a
        need-to-know basis, and such Affiliates and service providers may
        use such Confidential Information, in each case only for the
        purposes of fulfilling Receiving Party&apos;s obligations under
        this Agreement. The Receiving Party shall be liable to the
        Disclosing Party for all actions and omissions of its Affiliates
        and service providers with respect to such information as if such
        actions and omissions were those of the Receiving Party hereunder.
      </p>
      <p>
        <strong>5.3 Protection.&emsp;</strong>The Receiving Party agrees
        to protect the confidentiality of the Confidential Information of
        the Disclosing Party in the same manner that it protects the
        confidentiality of its own proprietary and confidential
        information of like kind (but in no event using less than
        reasonable care), and promptly notify the Disclosing Party upon
        discovery of any unauthorized access or acquisition of
        Confidential Information and reasonably cooperate with the
        Disclosing Party&apos;s efforts to prevent, investigate and
        remediate the breach of confidentiality.
      </p>
      <p>
        <strong>5.4 Compelled Disclosure.&emsp;</strong>If the Receiving
        Party is compelled by law to disclose Confidential Information of
        the Disclosing Party, it shall provide the Disclosing Party with
        prior notice of such compelled disclosure (to the extent legally
        permitted) and reasonable assistance, at the Disclosing
        Party&apos;s cost, if the Disclosing Party wishes to contest the
        disclosure.
      </p>
      <p>
        <strong>5.5 Remedies.&emsp;</strong>If the Receiving Party
        discloses or uses (or threatens to disclose or use) any
        Confidential Information of the Disclosing Party in breach of
        confidentiality protections hereunder, the Disclosing Party shall
        have the right, in addition to any other remedies available to it,
        to seek injunctive relief to enjoin such acts, it being
        specifically acknowledged by the Parties that any other available
        remedies are inadequate.
      </p>
      <p>
        <strong>6. Customer Data and Security.</strong>
      </p>
      <p>
        <strong>6.1 Use of Customer Data.&emsp;</strong>Ping Identity
        shall not provide the Customer Data to any third parties except as
        necessary to operate the Service. As between Ping Identity and
        Customer, Customer owns all rights, title and interest in and to
        all Customer Data.
      </p>
      <p>
        <strong>6.2 Customer Responsibilities.&emsp;</strong>Customer is
        solely responsible for all activities that occur in any
        Users&apos; accounts and for compliance with this Agreement by
        Users. Customer shall: (i)&nbsp;have sole responsibility for the
        accuracy, quality, integrity, legality, reliability, and
        appropriateness of all Customer Data submitted by it and its Users
        to the Service; and (ii)&nbsp;prevent unauthorized access to, or
        use of, the Service, and notify Ping Identity promptly of any such
        unauthorized access or use. If Customer becomes aware of any
        violation of Customer&apos;s obligations under this Agreement by
        any User, Customer will promptly notify Ping Identity and work
        with Ping Identity to promptly terminate access of any such User
        to the Service.
      </p>
      <p>
        <strong>6.3 Nature of Customer Data.&emsp;</strong>Customer
        represents and warrants that it will not transmit or expose to
        Ping Identity any (i)&nbsp;protected health information (as that
        term is used in the Health Insurance Portability and
        Accountability Act of 1996 (HIPAA)) or (ii)&nbsp;cardholder data
        (as regulated by the Payment Card Industry Security Standards
        Council) as a part of using the Products, in connection with
        Support Services, or otherwise under this Agreement.
      </p>
      <p>
        <strong>6.4 Compliance with Laws.&emsp;</strong>Each Party shall
        comply with all applicable local, state, national and foreign laws
        in the provision and use of the Products under this Agreement.
        Customer agrees that it has sole control over the nature and scope
        of the Customer Data processed by the Products, and the origin or
        location of Users. Customer warrants that it will (i)&nbsp;obtain all required authorizations or
        consents from Users for the processing of the Customer Data, and
        (ii)&nbsp;ascertain that such Customer Data can be processed under
        this Agreement by the Service and in connection with any Support
        or professional services, in the locations in which Ping Identity operates,
        Services in accordance with applicable law.
      </p>
      <p>
        <strong>6.5 User Requests for Information.&emsp;</strong>If any
        User requests details of Customer Data of such User that is
        processed by Ping Identity, Ping Identity will promptly notify
        Customer, unless prohibited by applicable law or ongoing
        investigation.
      </p>
      <p>
        <strong>6.6 Information Security.&emsp;</strong>Ping Identity will
        implement and maintain reasonable and appropriate technical,
        administrative and physical security measures designed to protect
        against unauthorized access to or use of Customer Data. Ping
        Identity shall, at a minimum, maintain the security of the Service
        and the Customer Data in accordance with the security exhibit
        available at
        <a target="_blank" href="https://www.pingidentity.com/security-exhibit">
          https://www.pingidentity.com/security-exhibit
        </a>
        &nbsp;(the <strong>&quot;Security Exhibit&quot;</strong>).
      </p>
      <p>
        <strong>6.7 Audits and Security Assessments.&emsp;</strong>Ping
        Identity is and will remain in compliance with the most recent controls established by its
        SOC-2 and ISO 27001 audits throughout the term of this
        Agreement. Upon Customer&apos;s written request, Ping Identity
        will provide Customer with access to Ping Identity&apos;s security
        portal that contains, among other things, a copy of (i)&nbsp;the
        most recently completed SOC-2 Type II audit report, (ii)&nbsp;its
        public ISO 27001 certificate and non-public Statement of
        Applicability, and (iii)&nbsp;the results of its most recently
        completed third-party penetration testing on the Service.
      </p>
      <p>
        <strong>6.8 Business Continuity/Disaster Recovery.&emsp;</strong>During
        the term of this Agreement, Ping Identity will maintain and comply
        with its then-current Business Continuity and Disaster Recovery
        Plans. Ping Identity will test such plans at least annually. Upon
        written request, Ping Identity will provide (i)&nbsp;a copy of the
        table of contents to such plan, and (ii)&nbsp;a summary of its
        annual testing results.
      </p>
      <p>
        <strong>6.9 Retention and Destruction.&emsp;</strong>Upon
        Customer&apos;s written request Ping Identity will delete the
        Customer Data contained within the Service. Ping Identity will
        retain automated backup copies and log files generated by the
        Service that may contain Customer Data in accordance with Ping
        Identity&apos;s data retention policy. Such backup copies and log
        files will remain subject to Section 6 of this Agreement until
        deleted.
      </p>
      <p>
        <strong>6.10 Data Privacy Addendum.&emsp;</strong>The Data Privacy
        Addendum set forth at
        <a target="_blank"
           href="https://www.pingidentity.com/data-privacy-addendum">
          https://www.pingidentity.com/data-privacy-addendum
        </a>
        &nbsp;(the &quot;<strong>DPA</strong>&quot;) is incorporated
        by reference in to this Agreement. This Agreement, and Customer&apos;s
        use of the Service&apos;s features and functionality, are
        Customer&apos;s complete set of instructions to Ping Identity in
        relation to the processing of Customer Data.
      </p>
      <p>
        <strong>6.11 Intelligence Service Features.&emsp;</strong>
        Ping Identity may collect and utilize Customer Data and information derived
        from Customer’s use of the Products internally to improve and develop its
        product offerings.  In addition, Ping Identity owns any statistical usage data
        derived from the operation of the Products that has been aggregated
        and de-identified so that results are non-personally identifiable with respect
        to Customer or any User (&quot;<strong>Aggregated Data</strong>&quot;),
        and nothing herein will prohibit Ping Identity from using Aggregated Data
        in the operation of Ping Identity’s business. For clarity, Ping Identity may
        only disclose Aggregated Data externally in a de-identified (anonymous) form
        that does not identify Customers or any Users, and that is stripped of all
        persistent identifiers (such as device identifiers, IP addresses, and cookie IDs).
        Ping Identity will retain, and Customer expressly disclaims, all intellectual
        property and other rights in any products or services Ping Identity develops
        pursuant to the usage rights herein.
      </p>
      <p>
        <strong>7. Proprietary Rights.</strong>
      </p>
      <p>
        <strong>7.1 Reservation of Rights.&emsp;</strong>Subject to the
        limited rights expressly granted hereunder, Ping Identity reserves
        all rights, title and interest in and to the Products (and any
        enhancements, modifications, or derivative works thereof, or other
        software development performed by Ping Identity), including all
        related intellectual property rights. No rights are granted to
        Customer hereunder other than as expressly set forth herein.
      </p>
      <p>
        <strong>7.2 Suggestions.&emsp;</strong>Ping Identity shall have a
        royalty-free, worldwide, transferable, sublicenseable,
        irrevocable, perpetual license to use or incorporate into the
        Products any suggestions, enhancement requests, recommendations or
        other feedback provided by Customer or its Users relating to the
        operation of the Products.
      </p>
      <p>
        <strong>8. Warranties &amp; Disclaimers.</strong>
      </p>
      <p>
        <strong>8.1 Warranties.&emsp;</strong>Each Party represents that
        it has the legal power to enter into this Agreement. Ping Identity
        warrants that it will provide the Products in a manner consistent
        with industry standards applicable to the provision thereof, and
        will provide the Support Service and any professional services in
        a good, professional and workmanlike manner consistent with
        applicable industry standards.
      </p>
      <p>
        <strong>8.2 Performance Warranty for Software.&emsp;</strong>For a
        period of ninety (90) days after the date of delivery of the
        Software (the &quot;<strong>Warranty Period</strong>&quot;), Ping
        Identity warrants that the Software, when used as permitted by
        Ping Identity and in accordance with the Documentation, will
        operate substantially as described in the Documentation. Ping
        Identity will, at its own expense and as its sole obligation and
        Customer&apos;s exclusive remedy for any breach of this warranty,
        use commercially reasonable efforts to (i)&nbsp;correct any
        material reproducible error that Customer reports to Ping Identity
        in writing during the Warranty Period, or (ii)&nbsp;replace the
        defective Software. In the event that Ping Identity, in its sole
        discretion, may not achieve either (i) or (ii) as a remedy for
        breach of this warranty, Ping Identity agrees to accept return of
        the Software, terminate the license to the defective Software and
        refund Customer all unused, prepaid fees with respect to the
        defective Software.
      </p>
      <p>
        <strong>8.3 Harmful Code.&emsp;</strong>Ping Identity warrants
        that it will use commercially reasonable efforts, using industry
        standard practices, to ensure that the Products, in the form
        provided by Ping Identity to Customer, do not contain Malicious
        Code.
      </p>
      <p>
        <strong>8.4 Disclaimer.&emsp;</strong>THE EXPRESS WARRANTIES IN
        THIS AGREEMENT ARE IN LIEU OF ALL OTHER WARRANTIES, EXPRESS,
        IMPLIED, OR STATUTORY, REGARDING THE PRODUCTS AND PING IDENTITY
        EXPRESSLY DISCLAIMS ALL OTHER WARRANTIES, INCLUDING, BUT NOT
        LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR
        A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT OF THIRD-PARTY
        RIGHTS. PING IDENTITY DOES NOT WARRANT THAT THE FUNCTIONS
        CONTAINED IN THE PRODUCTS WILL MEET CUSTOMER&apos;S REQUIREMENTS,
        OR THAT THE OPERATION AND RESULTS OF THE PRODUCTS WILL BE
        UNINTERRUPTED OR ERROR-FREE, OR THAT DEFECTS IN THE PRODUCTS WILL
        BE CORRECTED. NO ORAL OR WRITTEN INFORMATION OR ADVICE GIVEN BY
        PING IDENTITY OR ITS AUTHORIZED REPRESENTATIVES SHALL CREATE A
        WARRANTY OR IN ANY WAY INCREASE THE SCOPE OF ANY WARRANTY HEREIN.
      </p>
      <p>
        <strong>9. Indemnification. </strong>
      </p>
      <p>
        <strong>9.1 Indemnification by Ping Identity.&emsp;</strong>Subject
        to the terms of the Agreement, Ping Identity will defend at its
        own expense any action against Customer brought by a third party
        alleging that the Products, in each case, as delivered, infringe
        any U.S., UK or EU patents issued as of the Effective Date or any
        copyrights or misappropriate any trade secrets, in each case, of a
        third party, and Ping Identity will indemnify and hold Customer
        harmless against those costs and damages finally awarded against
        Customer in any such action that are specifically attributable to
        such claim or those costs and damages agreed to in a monetary
        settlement of such action. The foregoing obligations are
        conditioned on Customer&apos;s compliance with the Indemnification
        Conditions (defined below). If the Products become, or in Ping
        Identity&apos;s opinion are likely to become, the subject of an
        infringement claim, Ping Identity may, at its option and expense,
        either: (i)&nbsp;procure for Customer the right to continue using
        the Products; (ii)&nbsp;replace or modify the Products so that
        they become non-infringing; or (iii)&nbsp;terminate the
        subscription to the infringing Products and refund Customer any
        unused, prepaid fees for the infringing Products covering the
        remainder of the subscription term after the date of termination.
        Notwithstanding the foregoing, Ping Identity will have no
        obligation or liability under this Section&nbsp;9.1 or otherwise
        with respect to any infringement claim based upon: (a)&nbsp;any
        use of the Products not in accordance with this Agreement;
        (b)&nbsp;any use of the Products in combination with products,
        equipment, software, or data not supplied or approved in writing
        by Ping Identity if such infringement would have been avoided but
        for the combination with other products, equipment, software or
        data; (c)&nbsp;any use of a prior release of the Software after a
        more current release has been made available to Customer; or
        (d)&nbsp;any modification of the Products by any person other than
        Ping Identity. THIS SECTION&nbsp;9.1 STATES PING IDENTITY&apos;S
        ENTIRE LIABILITY AND THE CUSTOMER&apos;S EXCLUSIVE REMEDY FOR ANY
        CLAIMS OF INFRINGEMENT.
      </p>
      <p>
        <strong>9.2 Indemnification by Customer.&emsp;</strong>Subject to
        the terms of this Agreement, Customer will defend at its own
        expense any action against Ping Identity brought by a third party
        (including any User) (i)&nbsp;alleging that Ping Identity&apos;s
        possession or use of the Customer Data violates, or
        misappropriates the rights of, or has otherwise harmed, a third
        party, or (ii)&nbsp;concerning a User&apos;s use of the Service
        (provided it is not due to Ping Identity&apos;s breach of this
        Agreement), and Customer will indemnify and hold Ping Identity
        harmless against those costs and damages finally awarded against
        Ping Identity in any such action that are specifically
        attributable to such claim or those costs and damages agreed to in
        a monetary settlement of such action. The foregoing obligations
        are conditioned on Ping Identity&apos;s compliance with the
        Indemnification Conditions (defined below).
      </p>
      <p>
        <strong>9.3 Indemnification Conditions.&emsp;</strong>
        &quot;<strong>Indemnification Conditions</strong>&quot;
        means the following conditions, which a Party must
        comply with to be entitled to the defense and indemnification
        obligations of the other Party under this Agreement. The
        indemnified Party must (i)&nbsp;notify the indemnifying Party
        promptly in writing of such claim or allegation, setting forth in
        reasonable detail the facts and circumstances surrounding the
        claim; (ii)&nbsp;give the indemnifying Party sole control of the
        defense thereof and any related settlement negotiations, including
        not making any admission of liability or take any other action
        that limits the ability of the indemnifying Party to defend the
        claim; and (iii)&nbsp;cooperating and, at the indemnifying
        Party&apos;s request and expense, assisting in such defense.
      </p>
      <p>
        <strong>10. Limitation of Liability.</strong>
      </p>
      <p>
        <strong>10.1 Limitation of Liability.&emsp;</strong>NEITHER PARTY&apos;S
        CUMULATIVE LIABILITY ARISING OUT OF OR RELATED TO
        THIS AGREEMENT (WHETHER IN CONTRACT OR TORT OR UNDER ANY OTHER
        THEORY OF LIABILITY) SHALL NOT EXCEED
        THE TOTAL AMOUNT OF FEES PAID OR PAYABLE BY CUSTOMER HEREUNDER IN
        THE 12 MONTHS PRECEDING THE INCIDENT.
      </p>
      <p>
        <strong>
          10.2 Exclusion of Consequential and Related Damages.&emsp;
        </strong>
        IN NO EVENT SHALL EITHER PARTY HAVE ANY LIABILITY TO THE OTHER PARTY FOR
        (i)&nbsp;ERROR OR INTERRUPTION OF USE, LOSS OR INACCURACY OR
        CORRUPTION OF DATA, (ii)&nbsp;COST OF PROCUREMENT OF SUBSTITUTE
        GOODS, SERVICES, RIGHTS, OR TECHNOLOGY (iii)&nbsp;ANY INDIRECT,
        SPECIAL, INCIDENTAL, PUNITIVE, OR CONSEQUENTIAL DAMAGES OR
        (iv)&nbsp;LOSS OF REVENUES AND LOSS OF PROFITS, HOWEVER CAUSED
        AND, WHETHER IN CONTRACT, TORT OR UNDER ANY OTHER THEORY OF
        LIABILITY, WHETHER OR NOT THE PARTY HAS BEEN ADVISED OF THE
        POSSIBILITY OF SUCH DAMAGES.
      </p>
      <p>
        <strong>10.3 Limitations.&emsp;</strong>
        The disclaimers and limitations on liabilities contained in Sections
        10.1 and 10.2 shall not apply to the obligations set forth in Section
        9 (Indemnification) or a breach of Section 3 (Use Guidelines; Restrictions)
        or Section 5 (Confidentiality) of this Agreement.
      </p>
      <p>
        <strong>11. Term &amp; Termination.</strong>
      </p>
      <p>
        <strong>11.1 Term of Agreement.&emsp;</strong>This Agreement
        commences on the Effective Date and continues for as long as the
        subscription term set forth in any related Order Form (and any
        subsequent Order Forms) or as otherwise agreed to by Ping Identity
        in writing, unless earlier terminated as set forth herein.
      </p>
      <p>
        <strong>11.2 Termination for Cause.&emsp;</strong>Either Party may
        terminate this Agreement for cause: (i)&nbsp;upon thirty (30) days
        written notice of a material breach of this Agreement by the other
        Party if such breach remains uncured at the expiration of such
        period; or (ii)&nbsp;if the other Party becomes the subject of a
        petition in bankruptcy or any other proceeding relating to
        insolvency, receivership, liquidation or assignment for the
        benefit of creditors.
      </p>
      <p>
        <strong>11.3 Effects of Termination.&emsp;</strong>Upon expiration
        or termination of this Agreement&nbsp;all rights to use the
        Products (including all licensed rights for the Software) granted
        in this Agreement will immediately cease to exist
        and&nbsp;Customer must promptly discontinue all use of the
        Products. Upon a Party&apos;s written request, the other Party
        will erase, delete or destroy all copies of Confidential
        Information of the other Party whether or not modified or merged
        into other materials, and certify in writing to the other Party that
        such Party has fully complied with these requirements. A Party may
        retain archived copies of Confidential Information or copies that
        are incapable of being destroyed because it would be unduly
        burdensome or cost prohibitive, provided that all such copies
        remain subject to the restrictions herein for so long as they are
        retained.
      </p>
      <p>
        <strong>11.4 Outstanding Fees.&emsp;</strong>Termination shall not
        relieve Customer of the obligation to pay any fees accrued or
        payable to Ping Identity prior to the effective date of
        termination. Upon any termination for cause by Customer, Ping
        Identity shall refund Customer any unused, prepaid fees covering
        the remainder of the subscription term after the date of
        termination. If this Agreement is terminated by Ping Identity for
        cause, Customer shall remain responsible for any payments set
        forth on any outstanding Order Forms, regardless of whether such
        amounts have been invoiced or are payable at the time of such
        termination.
      </p>
      <p>
        <strong>11.5 Surviving Provisions.&emsp;</strong>Any provisions
        that are by their nature intended to survive termination of this
        Agreement will continue to survive following termination.
      </p>
      <p>
        <strong>12. General Provisions.</strong>
      </p>
      <p>
        <strong>12.1 Relationship of the Parties.&emsp;</strong>The
        Parties are independent contractors. This Agreement does not
        create a partnership, franchise, joint venture, agency, fiduciary
        or employment relationship between the Parties. Neither Party will
        have the power to bind the other or incur obligations on the other
        Party’s behalf without the other Party&apos;s prior written
        consent.
      </p>
      <p>
        <strong>12.2 No Third-Party Beneficiaries.&emsp;</strong>There are
        no third-party beneficiaries to this Agreement.
      </p>
      <p>
        <strong>12.3 Notices.&emsp;</strong>All notices under this
        Agreement shall be in writing and may be sent by electronic mail.
        Notices shall be deemed to have been given upon the second
        business day after sending by email. Notices to Ping Identity
        shall be sent to
        <a href="mailto:legal@pingidentity.com">legal@pingidentity.com</a>.
        Notices to Customer, unless otherwise indicated by Customer, may
        be sent to the individual that executed this Agreement on behalf
        of Customer and/or an Administrator by email, or at the address
        listed at the beginning of this Agreement.
      </p>
      <p>
        <strong>12.4 Waiver and Cumulative Remedies.&emsp;</strong>Failure
        by either Party to enforce any provision of this Agreement will
        not be deemed a waiver of future enforcement of that or any other
        provision of this Agreement. Other than as expressly stated
        herein, the remedies provided herein are in addition to, and not
        exclusive of, any other remedies of a Party at law or in equity.
      </p>
      <p>
        <strong>12.5 Severability.&emsp;</strong>If any provision of this
        Agreement is held by a court of competent jurisdiction to be
        unenforceable the provision shall be modified by the court and
        interpreted so as best to accomplish the objectives of the
        original provision to the fullest extent permitted by law, and the
        remaining provisions of this Agreement shall remain in force and
        effect.
      </p>
      <p>
        <strong>12.6 Third-Party Services.&emsp;</strong>The Products may
        be used by Customer to interface with certain third-party services
        and applications (&quot;<strong>Third-Party Services</strong>&quot;).
        Ping Identity makes no warranty regarding the operation or
        functionality of such Third-Party Services. Ping Identity does not
        guarantee that the Products will interoperate with any particular
        Third-Party Service, and Ping Identity&apos;s support obligations
        set forth in Section 2.7 shall not extend to any Third-Party
        Services.
      </p>
      <p>
        <strong>12.7&nbsp; Open Source Software.&emsp;</strong>
        Certain items of software embedded within the Products are subject
        to &quot;open source&quot; or &quot;free software&quot; licenses
        (<strong>&quot;Open Source Software&quot;</strong>).  Some of the
        Open Source Software is owned by third parties.  Nothing in this
        document limits Customer&apos;s rights or obligations under the
        terms and conditions of any applicable end user license for the
        Open Source Software.  In no event do any authors of any
        Open Source Software provide any warranties with respect to such
        Open Source Software and such authors disclaim liability of any kind
        for any use of the Open Source Software.  The terms of the licenses
        for the Open Source Software shall not impose any additional restrictions
        on your use of the Products as permitted by this Agreement or negate or
        amend any of our responsibilities with respect to the Products.
      </p>
      <p>
        <strong>12.8 Assignment.&emsp;</strong>Neither Party may assign or
        transfer, by operation of law or otherwise, any of its rights
        under this Agreement (including its licenses with respect to the
        Software) to any third party without the other Party&apos;s prior
        written consent, which consent shall not be unreasonably withheld.
        Notwithstanding of the foregoing
        , either Party shall have the right to
        assign this Agreement to any successor to its business or assets
        to which this Agreement relates, whether by merger, sale of
        assets, sale of stock, reorganization or otherwise; provided that
        such assignment is not to a competitor of the other Party.
        Unless otherwise specifically agreed to by the non-assigning Party,
        no assignment by either Party shall relieve the assignor from its
        obligations pursuant to this Agreement.  Any attempted assignment
        or transfer in violation of the foregoing will be null
        and void. All provisions
        of this Agreement shall be binding upon, inure to the benefit of
        and be enforceable by and against the respective successors and
        permitted assigns of Ping Identity and Customer.
      </p>
      <p>
        <strong>12.9 Applicable Law and Venue.&emsp;</strong>The laws of
        (i)&nbsp;the State of Colorado, USA (if Customer is domiciled in
        North, Central or South America, or any territory not covered by
        clauses (ii) or (iii)), (ii)&nbsp;England and Wales (if Customer
        is domiciled in Europe, the Middle East or Africa) or
        (iii)&nbsp;New South Wales, Australia (if Customer is domiciled in
        Asia or Oceania) (in each case without regard to any conflict of
        laws principles that would require the application of the laws of
        any other jurisdiction) govern this Agreement and all matters
        arising out of or relating to this Agreement, including, without
        limitation, validity, interpretation, construction, performance,
        and enforcement. Any dispute, action, claim or cause of action
        arising out of, relating to, or in connection with this Agreement
        or the Products shall be only brought in and is subject to the
        exclusive jurisdiction of (a)&nbsp;the state and federal courts
        located in Denver, Colorado USA (if Customer is domiciled in
        North, Central or South America, or any territory not covered by
        clauses (b) or (c)), (b)&nbsp;the courts located in London,
        England (if Customer is domiciled in Europe, the Middle East or
        Africa) or (c)&nbsp;the courts located in Sydney, Australia (if
        Customer is domiciled in Asia or Oceania). Each Party waives, to
        the fullest extent of the law, any objection to venue in such
        courts, and each Party hereby irrevocably submits and consents to
        the exclusive jurisdiction of such courts. To the extent permitted
        by law, the Parties expressly waive any right to trial by jury.
      </p>
      <p>
        <strong>12.10 Governing Language.&emsp;</strong>The governing
        language for this Agreement and for negotiation and resolution of
        any disputes related to this Agreement is the English language.
        Each Party waives any right it may have under any law in any state
        or country to have the Agreement written in any language other
        than English.
      </p>
      <p>
        <strong>12.11 U.S. Government End Users.&emsp;</strong>If Customer
        is a branch or agency of the United States Government, the
        following provision applies. The Software is comprised of
        &quot;commercial computer software&quot; and &quot;commercial
        computer software documentation&quot; as such terms are used in 48
        C.F.R. 12.212 and qualify as &quot;commercial items&quot; as
        defined in 48 C.F.R. 2.101. Ping Identity provides the Products
        for ultimate federal government end use solely in accordance with
        the following: Government technical data and software rights
        related to the Products include only those rights customarily
        provided to the public as defined in this Agreement. This
        customarily commercial license is provided in accordance with FAR
        12.211 (Technical Data) and FAR 12.212 (Software) and, for
        Department of Defense transactions, DFAR 252.227-7015 (Technical
        Data – Commercial Items) and DFAR 227.7202-3 (Rights in Commercial
        Computer Software or Computer Software Documentation). This section
        is in lieu of, and supersedes, any other FAR, DFARS, or other clause
        or provision that addresses government rights in computer software
        or technical data. If a
        government agency has a need for rights not conveyed under this
        Agreement, it must negotiate with Ping Identity to determine if
        there are acceptable terms for transferring such rights, and a
        mutually acceptable written addendum specifically conveying such
        rights must be included in any applicable Order Form or amendment
        to this Agreement.
      </p>
      <p>
        <strong>12.12 Marketing and Publicity.&emsp;</strong>Upon
        execution of this Agreement, Ping Identity may identify Customer
        as a customer of Ping Identity on Ping Identity&apos;s website as
        well as within any written and/or electronic marketing material
        relating to Ping Identity&apos;s products and/or services.
        Customer shall not publish or disclose to any third party any opinions
        relating to, or test results, benchmarking or comparative study involving
        any Product without the prior written consent of Ping Identity.
      </p>
      <p>
        <strong>12.13 Application Linkage in the Service.&emsp;</strong>If
        Customer is utilizing the Service to enable entities to connect
        into its applications, Ping Identity may list Customer&apos;s name
        and accompanying logo within the Service portal and/or application
        catalog in order to facilitate such intended functionality of the
        Service. Customer hereby grants Ping Identity a limited,
        non-exclusive license to its trademarks in order to implement the
        foregoing provision. Notwithstanding the foregoing, Customer may
        contact Ping Identity following execution of this Agreement and
        request in writing that Ping Identity refrain from listing
        Customer on any of the materials and/or portals referenced herein.
      </p>
      <p>
        <strong>12.14 Force Majeure.&emsp;</strong>Neither Party will be
        liable for any failure in performance due to circumstances beyond
        such Party&apos;s reasonable control, including without
        limitation, acts of God; acts of government; flood; fire;
        earthquakes; civil unrest; acts of terror, strikes or other labor
        problems (other than those involving such Party&apos;s employees),
        computer, telecommunications, Internet service provider or hosting
        facility failures or delays involving hardware, software or power
        systems not within such Party&apos;s possession or reasonable
        control, and denial of service attacks. For the avoidance of doubt,
        a force majeure event shall not include (a) financial distress,
        (b) changes in the market prices or conditions, or (c) a Party&apos;s
        financial inability to perform its obligations hereunder.
      </p>
      <p>
        <strong>12.15 Anti-Bribery&emsp;</strong>
        Ping Identity agrees not to provide, and Customer agrees that it has
        not received or been offered any illegal or improper bribe, kickback,
        payment, gift, or thing of value from any Ping Identity employees or
        agents in connection with this Agreement. Reasonable gifts and
        entertainment provided in the ordinary course of business do not violate
        the above restriction. If either Party learns of any violation of the
        above restriction, such Party will use reasonable efforts to promptly
        notify the other Party.
      </p>
      <p>
        <strong>
          12.16 Headings, Advice of Counsel, and Drafting.&emsp;
        </strong>
        Headings used in this Agreement are provided for convenience only
        and will not in any way affect the meaning or interpretation of
        each section. The Parties acknowledge that they have been advised
        by counsel of their own choosing, or had the opportunity to seek
        such counsel, and that its terms will be interpreted without any
        bias against one Party as drafter.
      </p>
      <p>
        <strong>12.17 Entire Agreement.&emsp;</strong>This Agreement,
        including all exhibits hereto, the Security Exhibit, the Support
        Policy, the DPA and all Order Forms, constitutes the final
        agreement between the Parties, and is the complete and exclusive
        expression of the Parties&apos; agreement on the matters contained
        in this Agreement. Each Order Form that is executed by Customer
        incorporates the terms of this Agreement in effect as of such date
        of execution. All exhibits and Order Forms are incorporated
        into this Agreement by reference. All prior agreements (including
        any click-through agreement associated with the Products),
        proposals or representations, written or oral, concerning the
        subject matter contained in this Agreement, are expressly
        superseded by this Agreement. Any prior non-disclosure,
        confidentiality, or similar agreement between the Parties is
        expressly superseded by this Agreement and the confidential or
        proprietary information previously disclosed thereunder shall
        become &quot;Confidential Information&quot; under the terms of
        this Agreement as if originally disclosed hereunder. In entering
        this Agreement, neither Party has relied upon any statement,
        representation, warranty or agreement of the other Party except
        for those expressly contained in this Agreement. To the extent of
        any conflict or inconsistency between the provisions in the body
        of this Agreement and any exhibit or addendum hereto or any Order
        Form, the terms of such exhibit, addendum or Order Form shall
        prevail. Notwithstanding any language to the contrary therein, no
        terms or conditions stated in a Customer purchase order or in any
        other Customer order documentation (excluding Order Forms) shall
        be incorporated into or form any part of this Agreement, and all
        such terms or conditions are specifically and expressly rejected
        by Ping Identity and shall be null and void. The U.N. Convention
        on the International Sale of Goods shall not apply to this Agreement.
      </p>
      <p>
        <strong>
          12.18 Modifications, Amendments and Waivers.&emsp;
        </strong>
        This Agreement may not be modified except by written instrument
        signed by both Parties. Notwithstanding the foregoing sentence,
        Ping Identity may amend the Support Policy, Security Exhibit and
        DPA from time to time by posting such amendment(s) at the URLs
        listed in Sections 2.7, 6.6 and 6.12, or alternate URLs as may be
        provided to Customer by Ping Identity from time to time. Customer
        acknowledges and agrees that Customer&apos;s continued use of the
        Products after the posting of such an amendment shall constitute
        Customer&apos;s consent to such amendment and agreement to be
        bound by same.
      </p>
      <p>
        <strong>12.19 Counterparts.&emsp;</strong>Any Order Forms may be
        executed by PDF or other electronic means, and in one or more
        counterparts, which taken together shall form one legal
        instrument.
      </p>
    </div>
  </div>
</span>
