table.logincontainer
{
	background: none;
	border: none;
}

body.login-body
{
	height: 100%;
	overflow: hidden;
	form
	{
		height: 100%;
	}
	h1.login
	{
		@extend .frutiger-regular;

		background-color: $grey;
		border: none;
		font-size: 28px;
		height: 55px;
		line-height: 55px;
		margin: 0px 0px 10px 0px;
		padding: 0px 0px 0px 20px;
	}
	div#wrapper
	{
		height: 100%;
	}
	div#header-container
	{
		padding: 15px 0px;
		table.ui-table-0
		{
			tr.ui-row-0
			{
				td.ui-cell-0
				{
					background-position-x: left;
					padding: 0px;
				}
			}
		}
	}
	div#header-container,
	div#login
	{
		margin: 0 auto;
		min-width: 555px;
		width: 555px;
		div#errorMessageDiv
		{
			background: $red url("v2/icons/icon-alert.png") 15px center no-repeat;
			border: none;
			color: $white !important;
			display: none;
			font-size: 14px;
			font-weight: bold;
			margin: 0px 0px 10px 0px;
			padding: 15px 15px 15px 50px;
			text-align: left;
		}
		table
		{
			padding: 0px;
			width: 100%;
			tr
			{
				td
				{
					padding: 15px 0px;
					span
					{
						display: none;
					}
					&.ui-cell-0
					{
						font-size: 12.5px;
						width: 110px;
					}
					&.ui-cell-1
					{
						padding-left: 20px;
						text-align: left;
					}
				}
				&.ui-row-1
				{
					td
					{
						padding-bottom: 25px;
						padding-top: 0px;
					}
				}
				&.ui-row-2
				{
					background-color: $light-grey;
					margin-top: 10px;
					td
					{
						height: 40px;
						padding: 0px;
						text-align: right;
						input
						{
							@extend .inline-block;
							@extend .transition;
							@include rounded(0px);

							background: $interior-content-button-second-child;
							border: none;
							color: $white;
							cursor: pointer;
							font-size: 13px;
							font-weight: bold;
							height: 40px;
							line-height: 40px;
							padding: 0px 20px;
							&:hover
							{
								background: $text-grey;
							}
							&:first-child
							{
								background: $blue;
								&:hover
								{
									background-color: $aqua;
								}
							}

						}
					}
				}
			}
		}
		input[type="text"],
		input[type="password"]
		{
			width: 370px !important;
		}
	}
	div#login
	{
		@include shadow(0px, 0px, 5px, $black);
		@include rounded(10px);

		background: $white;
		padding: 10px;
		position: relative;
	}
	div#footer-container
	{
		bottom: 0px;
		position: fixed;
		width: 100%;
		div.inner
		{
			margin: 0px 140px;
			min-width: 575px;
			width: auto;
			td.loginversion
			{
				text-align: right;
				ul.footer-list
				{
					&.list-0
					{
						background: url("v2/footer-logo.gif") right top no-repeat;
						margin-right: 20px;
						padding-top: 70px;
					}
				}
			}
		}
	}
}