@mixin background-size($size)
{
    -webkit-background-size: $size;
    -moz-background-size: $size;
    -o-background-size: $size;
    background-size: $size;
}

@mixin shadow($h, $v, $blur, $color)
{
    -webkit-box-shadow: $h $v $blur $color !important;
    -moz-box-shadow: $h $v $blur $color !important;
    -o-box-shadow: $h $v $blur $color !important;
    box-shadow: $h $v $blur $color !important;
}

@mixin shadow_inset($h, $v, $blur, $spread, $color)
{
    -webkit-box-shadow: inset $h $v $blur $spread $color;
    -moz-box-shadow: inset $h $v $blur $spread $color;
    -o-box-shadow: inset $h $v $blur $spread $color;
    box-shadow: inset $h $v $blur $spread $color;
}

@mixin text_shadow($h, $v, $size, $color)
{
  -moz-text-shadow: $h $v $size $color;
  -webkit-text-shadow: $h $v $size $color;
  -o-text-shadow: $h $v $size $color;
  text-shadow: $h $v $size $color;
}

@mixin rounded($radius)
{
    -moz-border-radius: $radius !important;
    -webkit-border-radius: $radius !important;
    -o-border-radius: $radius !important;
    border-radius: $radius !important;
}

@mixin rounded_top($radius)
{
    -moz-border-radius: $radius $radius 0px 0px;
    -webkit-border-radius: $radius $radius 0px 0px;
    -o-border-radius: $radius $radius 0px 0px;
    border-radius: $radius $radius 0px 0px;
}

@mixin rounded_bottom($radius)
{
    -moz-border-radius: 0px 0px $radius $radius;
    -webkit-border-radius: 0px 0px $radius $radius;
    -o-border-radius: 0px 0px $radius $radius;
    border-radius: 0px 0px $radius $radius;
}

@mixin respond-to($media)
{
    @if $media == mobile
    {
        @media only screen and (max-width: $mobile) { @content; }
    }
    @else if $media == desktop
    {
        @media only screen and (min-width: $mobile + 1) { @content; }
    }
}
@mixin opacity($value)
{
    zoom: 1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=" $value * 100 ")";
    filter: alpha(opacity=$value * 100);
    -moz-opacity: $value;
    -khtml-opacity: $value;
    opacity: $value;
}

@mixin scale($value)
{
    -ms-transform: scale($value);
    -webkit-transform: scale($value);
    -o-transform: scale($value);
    -moz-transform: scale($value);
}

@mixin origin($x, $y)
{
    transform-origin: $x $y;
    -ms-transform-origin: $x $y;
    -webkit-transform-origin: $x $y;
    -moz-transform-origin: $x $y;
    -o-transform-origin: $x $y;
}

@mixin linear_background($top, $bottom)
{
    background-color: $top;
    background-image: -moz-linear-gradient(top, $top 0%, $bottom 100%);
    background-image: -webkit-linear-gradient(top, $top 0%, $bottom 100%);
    background-image: -ms-linear-gradient(top, $top 0%, $bottom 100%);
    background-image: linear-gradient(top, $top 0%, $bottom 100%);
    background-image: -o-linear-gradient(top, $top 0%, $bottom 100%);
    background-image: -webkit-gradient(linear, right top, right bottom, color-stop(0%, $top), color-stop(100%, $bottom));
}