/* Body Fonts and Size */

body {
  font-family: Tahoma, Trebuchet MS, Verdana, Helvetica, Arial;
  font-size: 13px;
  background: #ffffff;
  background-image: url(header_bg.png);
  background-repeat: repeat-x;
  &.login {
    font-family: Tahoma, Trebuchet MS, Verdana, Helvetica, Arial;
    font-size: 13px;
    background: #ffffff;
  }
}

a {
  color: #0C3258;
  &:hover {
    color: #FFFFFF;
    background: #0C3258;
    text-decoration: none;
  }
  &.plus_minus {
    color: #000000;
    text-decoration: none;
    &:hover {
      color: #FFFFFF;
      background: #0C3258;
      text-decoration: none;
    }
  }
}

/* Table Structure */

table.structure {
  width: 100%;
  padding: 0px;
  margin: 0px;
}

td {
  &.header {
    text-align: right;
    font-size: 12px;
    font-weight: bold;
  }
  &.nav {
    width: 190px;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    background-image: url(nav_bg.png);
    background-repeat: repeat-y;
    vertical-align: top;
    text-align: left;
  }
  &.content {
    padding: 10px;
    vertical-align: top;
    text-align: left;
    border-top: 1px #B3B3B3 solid;
    border-right: 1px #B3B3B3 solid;
    border-left: 1px #B3B3B3 solid;
    background: white;
  }
  &.footer {
    padding: 10px;
    background-image: url(footer_bg.png);
    background-repeat: repeat-x;
    background-color: #EBEBEB;
    border-bottom: 1px #A5A5A5 solid;
    vertical-align: top;
    text-align: left;
  }
  &.version {
    padding: 10px;
    text-align: right;
    font-size: 10px;
  }
  &.disabled {
    color: #CCCCCC;
  }
  &.active {
    color: green;
  }
  &.error {
    background-color: #efefef;
    border: 1px #CC0000 dotted;
    font-weight: bold;
    color: #CC0000;
  }
  &.update {
    padding: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px #A5A5A5 solid;
    width: 70%;
    vertical-align: top;
    text-align: left;
  }
  &.updateempty {
    padding: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    width: 50%;
    vertical-align: top;
    text-align: left;
  }
  &.updateemptyconfirm {
    padding: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    width: 100%;
    vertical-align: top;
    text-align: left;
  }
}

/* Interior Content Code */

table {
  &.interior {
    background-color: #efefef;
    width: 100%;
    padding: 0px;
    margin: 0px;
    border: none;
    text-align: left;
    vertical-align: top;
    td {
      font-size: 12px;
      background-color: #ffffff;
      padding: 5px;
      text-align: left;
      vertical-align: top;
      &.plain {
        font-size: 12px;
        background-color: #ffffff;
        padding: 5px;
        text-align: left;
        vertical-align: top;
      }
      &.masked {
        font-size: 12px;
        background-color: #ffffff;
        padding: 5px;
        text-align: center;
        vertical-align: top;
      }
      &.error {
        background-color: #efefef;
        border: 1px #CC0000 dotted;
        font-weight: bold;
        color: #CC0000;
      }
      &.expired, &.revoked {
        font-size: 12px;
        background-color: #ffffff;
        padding: 5px;
        text-align: left;
        vertical-align: top;
        color: #FF0000;
      }
      &.search {
        font-size: 12px;
        background-color: #ffffff;
        padding: 5px;
        text-align: left;
        vertical-align: middle;
      }
    }
  }
  &.nolines {
    background-color: #FFFFFF;
    width: 100%;
    padding: 0px;
    margin: 0px;
    border: none;
    text-align: left;
    vertical-align: middle;
    td {
      font-size: 12px;
      padding: 2px;
      text-align: left;
      vertical-align: middle;
      &.error {
        background-color: #efefef;
        border: 1px #CC0000 dotted;
        font-weight: bold;
        color: #CC0000;
      }
    }
  }
  &.connectionlimit {
    width: 600px;
    padding: 10px;
    margin: 0px;
    background: #ffffff;
    border: 1px #000000 solid;
    border-bottom: 4px #11467B solid;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
  }
  &.connectionlist {
    td.plain {
        max-width: 200px;
        overflow: hidden;
        white-space: nowrap !important;
        text-overflow: ellipsis;
    }
  }
  &.logincontainer {
    width: 450px;
    padding: 0px;
    margin: 0px;
    background: #ffffff;
    border: 1px #000000 solid;
    border-bottom: 4px #11467B solid;
    text-align: center;
    font-size: 10px;
  }
  &.login {
    padding: 10px;
    margin: 0px;
    td {
      font-size: 11px;
      padding: 3px;
      text-align: right;
    }
  }
}

td {
  &.loginversion {
    font-size: 9px;
    padding-top: 30px;
    text-align: center;
    font-size: 10px;
  }
  &.login_license_import_left {
    font-size: 12px;
    padding: 3px;
    text-align: left;
  }
  &.login_license_import_center {
    font-size: 12px;
    padding: 3px;
    text-align: center;
  }
}

/* tds for the login license import */

table {
  &.portal {
    border: 1px #B3B3B3 solid;
    background-color: #FFFFFF;
    width: 100%;
    padding: 0px;
    margin: 0px;
    text-align: left;
    vertical-align: top;
    td {
      border: 1px #0C3258 solid;
      font-size: 12px;
      background-color: #ffffff;
      padding: 7px;
      text-align: left;
      vertical-align: top;
    }
  }
  &.interiorwhite {
    border: 2px #EFEFEF solid;
    background-color: #ffffff;
    width: 100%;
    padding: 0px;
    margin: 0px;
    text-align: left;
    vertical-align: top;
    td {
      font-size: 12px;
      background-color: #ffffff;
      padding: 5px;
      text-align: left;
      vertical-align: top;
    }
  }
  &.summary {
    background-color: #EFEFEF;
    font-size: 11px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    border: none;
    text-align: left;
    vertical-align: top;
    td {
      padding: 5px;
      text-align: left;
      vertical-align: top;
      &.summaryheader {
        border-top: 4px #FFFFC5 solid;
        border-bottom: 4px #FFFFC5 solid;
        background-color: #FFFFFF;
        font-size: 14px;
        color: #000000;
        font-weight: bold;
      }
      &.tasklet {
        background-color: #D9D9D9;
        font-size: 13px;
        font-weight: bold;
      }
      &.subtasklet {
        background-color: #E8E8E8;
        font-size: 12px;
        font-weight: bold;
        width: 200px;
      }
      &.name {
        background-color: #F9F9F9;
        font-size: 11px;
        width: 200px;
        padding-left: 10px;
      }
      &.value {
        background-color: #FFFFFF;
      }
    }
  }
  &.licensegroupdetails {
    border-width: 1px 1px 1px 1px;
    border-spacing: 0px;
    border-style: solid solid solid solid;
    border-color: lightgray lightgray lightgray lightgray;
    border-collapse: separate;
    background-color: #fafafa;
    margin-top: 3px;
    margin-bottom: 3px;
    th {
      border-width: 1px 0px 1px 1px;
      padding: 1px 5px 1px 5px;
      border-style: solid solid solid solid;
      border-color: lightgray lightgray lightgray lightgray;
      background-color: #efefef;
      font-weight: normal;
      font-size: 11px;
      text-align: center;
    }
    td {
      border-width: 0px 0px 1px 1px;
      padding: 1px 5px 1px 5px;
      border-style: solid solid solid solid;
      border-color: lightgray lightgray lightgray lightgray;
      background-color: #fafafa;
      font-size: 11px;
      text-align: center;
    }
  }
}

/* Summary Table */

/* License Group Details table */

/* DIVs and SPANs*/

td.topnav {
  padding: 10px;
  background: #EFEFEF;
  font-size: 12px;
  font-weight: bold;
  border-top: 5px #B3B3B3 solid;
}

div {
  &.banner div {
    margin: 5px 0px;
    &.messagetext {
      border: 1px #B6C2A3 solid;
    }
  }
  &.messagetext {
    border: none;
    background: #E3F2CC;
    padding: 10px;
  }
  &.helptext {
    border: 1px solid green;
    background: #efefef;
    padding: 10px;
  }
  &.transactions {
    font-size: 12px;
    padding-right: 10px;
    font-weight: bold;
  }
  &.buttons {
    display: inline;
    float: right;
  }
}

span {
  &.note {
    color: #0C3258;
    font-weight: bold;
  }
  &.logo {
    color: #000000;
    padding: 5px;
    font-size: 26px;
    display: block;
  }
  &.currentstate {
    font-size: 12px;
    color: #0C3258;
  }
  &.disabled {
    font-size: 12px;
    color: #CCCCCC;
  }
  &.plus {
    background-image: url(plus.gif);
    background-repeat: no-repeat;
    background-position: 2px;
  }
  &.minus {
    background-image: url(minus.gif);
    background-repeat: no-repeat;
    background-position: 2px;
  }
  &.btn-file {
  	position: relative;
  	overflow: hidden;
  }
    
  &.btn-file input[type=file] {
  	position: absolute;
  	top: 0;
  	min-width: 100%;
  	min-height: 100%;
  	text-align: right;
  	filter: alpha(opacity=0);
  	color: transparent; 
  	opacity: 0;
  	outline: none;
  	cursor: inherit;
  	display: block; 
  }
  
}

div {
  &.portalheader {
    display: block;
    background: #DDE4ED;
    padding: 5px;
    padding-left: 25px;
    font-weight: bold;
  }
  &.systemsettings {
    background-image: url(System_icon.gif);
    background-repeat: no-repeat;
    background-position: 3px;
  }
  &.app_int {
    background-image: url(app_int_icon.gif);
    background-repeat: no-repeat;
    background-position: 3px;
  }
  &.fed_settings {
    background-image: url(fed_settings_icon.gif);
    background-repeat: no-repeat;
    background-position: 3px;
  }
  &.security {
    background-image: url(Security_icon.gif);
    background-repeat: no-repeat;
    background-position: 3px;
  }
  &.admin {
    background-image: url(Admin_icon.gif);
    background-repeat: no-repeat;
    background-position: 3px;
  }
  &.idp {
    background-image: url(idp_icon.gif);
    background-repeat: no-repeat;
    background-position: 3px;
  }
  &.sp {
    background-image: url(sp_icon.gif);
    background-repeat: no-repeat;
    background-position: 3px;
  }
  &.affiliation {
    background-image: url(affiliations_icon.gif);
    background-repeat: no-repeat;
    background-position: 3px;
  }
  &.dynamicfederation {
    background-image: url(icon_federation_2.gif);
    background-repeat: no-repeat;
    background-position: 3px;
  }
  &.portalpadding {
    padding-left: 25px;
    line-height: 16px;
  }
  &.portal_link {
    margin-top: 0.6mm;
  }
  &.errortext {
    border: 1px #CC0000 solid;
    background: #efefef;
    padding: 10px;
  }
  &.warntext {
    border: 1px #CC6600 solid;
    background: #FFFF00;
    padding: 10px;
  }
}

/* ERRORS */

span.error {
  font-size: 12px;
  font-weight: bold;
  color: #CC0000;
}

/* Headcrumbs */

div {
  &.headcrumbs {
    background: #C8DBFF;
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
    padding-left: 0px;
    border-top: 1px #A5A5A5 solid;
    border-bottom: 1px #A5A5A5 solid;
    white-space: nowrap;
    a {
      color: #0C3258;
      font-weight: bold;
      text-decoration: none;
      padding: 10px;
      border-right: 1px #A5A5A5 solid;
      &:hover {
        color: #FFFFFF;
        background: #597293;
        text-decoration: none;
      }
      &.current {
        color: #0C3258;
        background: #F0F3F7;
        font-weight: bold;
        padding: 10px;
        border-bottom: 1px #F0F3F7 solid;
      }
    }
  }
  &.breadcrumbs {
    background: #F0F3F7;
    font-size: 11px;
    line-height: 18px;
    font-weight: bold;
    padding: 10px;
    border-bottom: 2px #A5A5A5 solid;
    a {
      color: #0C3258;
      font-weight: bold;
      text-decoration: none;
      padding: 2px;
      &:hover {
        color: #FFFFFF;
        background: #516B9C;
        text-decoration: none;
        padding: 2px;
      }
    }
  }
}

/* Breadcrumbs */

span {
  &.current {
    color: #FFFFFF;
    background: #0C3258;
    font-weight: bold;
    padding: 2px;
  }
  &.cant {
    color: #AFB4BB;
    font-weight: bold;
  }
}

/* H1 - H3 */

h1 {
  color: #0C3258;
  font-size: 16px;
  font-weight: bold;
  display: inline;
  &.login {
    color: #FFFFFF;
    padding: 4px;
    padding-left: 11px;
    background: #11467B;
    border-top: 2px #0C3258 solid;
    font-size: 15px;
    font-weight: bold;
    display: block;
    text-align: left;
  }
  &.appstate {
    color: #333333;
    font-size: 16px;
    font-weight: bold;
    display: inline;
  }
}

h2 {
  color: #597293;
  font-size: 14px;
  font-weight: bold;
  display: inline;
}

h3 {
  color: #3A5270;
  font-size: 12px;
  font-weight: bold;
  display: inline;
}

h4 {
  color: #597293;
  font-size: 11px;
  font-weight: bold;
  display: inline;
}

h5 {
  color: #FAAFBE;
  font-size: 16px;
  font-weight: bold;
  display: inline;
}

ul, li {
  margin-left: 10px;
  padding: 0px;
}

/* NAVIGATION LISTS */

ul {
  &.active {
    background: #DF680E;
    padding: 5px;
    margin: 10px;
    border: 1px #FFFFFF solid;
    a {
      color: #FFFFFF;
      text-decoration: none;
      &:hover {
        color: #FFFFFF;
        background: none;
      }
    }
    li {
      font-size: 17px;
      font-weight: bold;
      list-style: none;
    }
  }
  &.inactive {
    background: #CCCCCC;
    padding: 5px;
    margin: 10px;
    border: 1px #999999 solid;
    &:hover {
      color: #000000;
      background: #DF680E;
      padding: 5px;
      margin: 10px;
      border: 1px #ffffff solid;
    }
    a {
      color: #999999;
      text-decoration: none;
      &:hover {
        color: #ffffff;
      }
    }
    li {
      font-size: 17px;
      font-weight: bold;
      list-style: none;
    }
  }
}