/* Body Fonts and Size */
body {
  font-family: Tahoma, Trebuchet MS, Verdana, Helvetica, Arial;
  font-size: 13px;
  background: #ffffff;
  background-image: url(header_bg.png);
  background-repeat: repeat-x; }
  body.login {
    font-family: Tahoma, Trebuchet MS, Verdana, Helvetica, Arial;
    font-size: 13px;
    background: #ffffff; }

a {
  color: #0C3258; }
  a:hover {
    color: #FFFFFF;
    background: #0C3258;
    text-decoration: none; }
  a.plus_minus {
    color: #000000;
    text-decoration: none; }
    a.plus_minus:hover {
      color: #FFFFFF;
      background: #0C3258;
      text-decoration: none; }

/* Table Structure */
table.structure {
  width: 100%;
  padding: 0px;
  margin: 0px; }

td.header {
  text-align: right;
  font-size: 12px;
  font-weight: bold; }
td.nav {
  width: 190px;
  padding: 0px;
  margin: 0px;
  font-size: 16px;
  background-image: url(nav_bg.png);
  background-repeat: repeat-y;
  vertical-align: top;
  text-align: left; }
td.content {
  padding: 10px;
  vertical-align: top;
  text-align: left;
  border-top: 1px #B3B3B3 solid;
  border-right: 1px #B3B3B3 solid;
  border-left: 1px #B3B3B3 solid;
  background: white; }
td.footer {
  padding: 10px;
  background-image: url(footer_bg.png);
  background-repeat: repeat-x;
  background-color: #EBEBEB;
  border-bottom: 1px #A5A5A5 solid;
  vertical-align: top;
  text-align: left; }
td.version {
  padding: 10px;
  text-align: right;
  font-size: 10px; }
td.disabled {
  color: #CCCCCC; }
td.active {
  color: green; }
td.error {
  background-color: #efefef;
  border: 1px #CC0000 dotted;
  font-weight: bold;
  color: #CC0000; }
td.update {
  padding: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px #A5A5A5 solid;
  width: 70%;
  vertical-align: top;
  text-align: left; }
td.updateempty {
  padding: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  width: 50%;
  vertical-align: top;
  text-align: left; }
td.updateemptyconfirm {
  padding: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  width: 100%;
  vertical-align: top;
  text-align: left; }

/* Interior Content Code */
table.interior {
  background-color: #efefef;
  width: 100%;
  padding: 0px;
  margin: 0px;
  border: none;
  text-align: left;
  vertical-align: top; }
  table.interior td {
    font-size: 12px;
    background-color: #ffffff;
    padding: 5px;
    text-align: left;
    vertical-align: top; }
    table.interior td.plain {
      font-size: 12px;
      background-color: #ffffff;
      padding: 5px;
      text-align: left;
      vertical-align: top; }
    table.interior td.masked {
      font-size: 12px;
      background-color: #ffffff;
      padding: 5px;
      text-align: center;
      vertical-align: top; }
    table.interior td.error {
      background-color: #efefef;
      border: 1px #CC0000 dotted;
      font-weight: bold;
      color: #CC0000; }
    table.interior td.expired, table.interior td.revoked, table.interior td.notyetvalid {
      font-size: 12px;
      background-color: #ffffff;
      padding: 5px;
      text-align: left;
      vertical-align: top;
      color: #FF0000; }
    table.interior td.search {
      font-size: 12px;
      background-color: #ffffff;
      padding: 5px;
      text-align: left;
      vertical-align: middle; }
table.nolines {
  background-color: #FFFFFF;
  width: 100%;
  padding: 0px;
  margin: 0px;
  border: none;
  text-align: left;
  vertical-align: middle; }
  table.nolines td {
    font-size: 12px;
    padding: 2px;
    text-align: left;
    vertical-align: middle; }
    table.nolines td.error {
      background-color: #efefef;
      border: 1px #CC0000 dotted;
      font-weight: bold;
      color: #CC0000; }
table.connectionlimit {
  width: 600px;
  padding: 10px;
  margin: 0px;
  background: #ffffff;
  border: 1px #000000 solid;
  border-bottom: 4px #11467B solid;
  text-align: center;
  font-size: 18px;
  font-weight: bold; }
table.connectionlist td.plain {
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap !important;
  text-overflow: ellipsis; }
table.logincontainer {
  width: 450px;
  padding: 0px;
  margin: 0px;
  background: #ffffff;
  border: 1px #000000 solid;
  border-bottom: 4px #11467B solid;
  text-align: center;
  font-size: 10px; }
table.login {
  padding: 10px;
  margin: 0px; }
  table.login td {
    font-size: 11px;
    padding: 3px;
    text-align: right; }

td.loginversion {
  font-size: 9px;
  padding-top: 30px;
  text-align: center;
  font-size: 10px; }
td.login_license_import_left {
  font-size: 12px;
  padding: 3px;
  text-align: left; }
td.login_license_import_center {
  font-size: 12px;
  padding: 3px;
  text-align: center; }

/* tds for the login license import */
table.portal {
  border: 1px #B3B3B3 solid;
  background-color: #FFFFFF;
  width: 100%;
  padding: 0px;
  margin: 0px;
  text-align: left;
  vertical-align: top; }
  table.portal td {
    border: 1px #0C3258 solid;
    font-size: 12px;
    background-color: #ffffff;
    padding: 7px;
    text-align: left;
    vertical-align: top; }
table.interiorwhite {
  border: 2px #EFEFEF solid;
  background-color: #ffffff;
  width: 100%;
  padding: 0px;
  margin: 0px;
  text-align: left;
  vertical-align: top; }
  table.interiorwhite td {
    font-size: 12px;
    background-color: #ffffff;
    padding: 5px;
    text-align: left;
    vertical-align: top; }
table.summary {
  background-color: #EFEFEF;
  font-size: 11px;
  width: 100%;
  padding: 0px;
  margin: 0px;
  border: none;
  text-align: left;
  vertical-align: top; }
  table.summary td {
    padding: 5px;
    text-align: left;
    vertical-align: top; }
    table.summary td.summaryheader {
      border-top: 4px #FFFFC5 solid;
      border-bottom: 4px #FFFFC5 solid;
      background-color: #FFFFFF;
      font-size: 14px;
      color: #000000;
      font-weight: bold; }
    table.summary td.tasklet {
      background-color: #D9D9D9;
      font-size: 13px;
      font-weight: bold; }
    table.summary td.subtasklet {
      background-color: #E8E8E8;
      font-size: 12px;
      font-weight: bold;
      width: 200px; }
    table.summary td.name {
      background-color: #F9F9F9;
      font-size: 11px;
      width: 200px;
      padding-left: 10px; }
    table.summary td.value {
      background-color: #FFFFFF; }
table.licensegroupdetails {
  border-width: 1px 1px 1px 1px;
  border-spacing: 0px;
  border-style: solid solid solid solid;
  border-color: lightgray lightgray lightgray lightgray;
  border-collapse: separate;
  background-color: #fafafa;
  margin-top: 3px;
  margin-bottom: 3px; }
  table.licensegroupdetails th {
    border-width: 1px 0px 1px 1px;
    padding: 1px 5px 1px 5px;
    border-style: solid solid solid solid;
    border-color: lightgray lightgray lightgray lightgray;
    background-color: #efefef;
    font-weight: normal;
    font-size: 11px;
    text-align: center; }
  table.licensegroupdetails td {
    border-width: 0px 0px 1px 1px;
    padding: 1px 5px 1px 5px;
    border-style: solid solid solid solid;
    border-color: lightgray lightgray lightgray lightgray;
    background-color: #fafafa;
    font-size: 11px;
    text-align: center; }

/* Summary Table */
/* License Group Details table */
/* DIVs and SPANs*/
td.topnav {
  padding: 10px;
  background: #EFEFEF;
  font-size: 12px;
  font-weight: bold;
  border-top: 5px #B3B3B3 solid; }

div.banner div {
  margin: 5px 0px; }
  div.banner div.messagetext {
    border: 1px #B6C2A3 solid; }
div.messagetext {
  border: none;
  background: #E3F2CC;
  padding: 10px; }
div.helptext {
  border: 1px solid green;
  background: #efefef;
  padding: 10px; }
div.transactions {
  font-size: 12px;
  padding-right: 10px;
  font-weight: bold; }
div.buttons {
  display: inline;
  float: right; }

span.note {
  color: #0C3258;
  font-weight: bold; }
span.logo {
  color: #000000;
  padding: 5px;
  font-size: 26px;
  display: block; }
span.currentstate {
  font-size: 12px;
  color: #0C3258; }
span.disabled {
  font-size: 12px;
  color: #CCCCCC; }
span.plus {
  background-image: url(plus.gif);
  background-repeat: no-repeat;
  background-position: 2px; }
span.minus {
  background-image: url(minus.gif);
  background-repeat: no-repeat;
  background-position: 2px; }
span.btn-file {
  position: relative;
  overflow: hidden; }
span.btn-file input[type=file] {
  position: absolute;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  text-align: right;
  filter: alpha(opacity=0);
  color: transparent;
  opacity: 0;
  outline: none;
  cursor: inherit;
  display: block; }

div.portalheader {
  display: block;
  background: #DDE4ED;
  padding: 5px;
  padding-left: 25px;
  font-weight: bold; }
div.systemsettings {
  background-image: url(System_icon.gif);
  background-repeat: no-repeat;
  background-position: 3px; }
div.app_int {
  background-image: url(app_int_icon.gif);
  background-repeat: no-repeat;
  background-position: 3px; }
div.fed_settings {
  background-image: url(fed_settings_icon.gif);
  background-repeat: no-repeat;
  background-position: 3px; }
div.security {
  background-image: url(Security_icon.gif);
  background-repeat: no-repeat;
  background-position: 3px; }
div.admin {
  background-image: url(Admin_icon.gif);
  background-repeat: no-repeat;
  background-position: 3px; }
div.idp {
  background-image: url(idp_icon.gif);
  background-repeat: no-repeat;
  background-position: 3px; }
div.sp {
  background-image: url(sp_icon.gif);
  background-repeat: no-repeat;
  background-position: 3px; }
div.affiliation {
  background-image: url(affiliations_icon.gif);
  background-repeat: no-repeat;
  background-position: 3px; }
div.dynamicfederation {
  background-image: url(icon_federation_2.gif);
  background-repeat: no-repeat;
  background-position: 3px; }
div.portalpadding {
  padding-left: 25px;
  line-height: 16px; }
div.portal_link {
  margin-top: 0.6mm; }
div.errortext {
  border: 1px #CC0000 solid;
  background: #efefef;
  padding: 10px; }
div.warntext {
  border: 1px #CC6600 solid;
  background: #FFFF00;
  padding: 10px; }

/* ERRORS */
span.error {
  font-size: 12px;
  font-weight: bold;
  color: #CC0000; }

/* Headcrumbs */
div.headcrumbs {
  background: #C8DBFF;
  font-size: 12px;
  font-weight: bold;
  padding: 10px;
  padding-left: 0px;
  border-top: 1px #A5A5A5 solid;
  border-bottom: 1px #A5A5A5 solid;
  white-space: nowrap; }
  div.headcrumbs a {
    color: #0C3258;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    border-right: 1px #A5A5A5 solid; }
    div.headcrumbs a:hover {
      color: #FFFFFF;
      background: #597293;
      text-decoration: none; }
    div.headcrumbs a.current {
      color: #0C3258;
      background: #F0F3F7;
      font-weight: bold;
      padding: 10px;
      border-bottom: 1px #F0F3F7 solid; }
div.breadcrumbs {
  background: #F0F3F7;
  font-size: 11px;
  line-height: 18px;
  font-weight: bold;
  padding: 10px;
  border-bottom: 2px #A5A5A5 solid; }
  div.breadcrumbs a {
    color: #0C3258;
    font-weight: bold;
    text-decoration: none;
    padding: 2px; }
    div.breadcrumbs a:hover {
      color: #FFFFFF;
      background: #516B9C;
      text-decoration: none;
      padding: 2px; }

/* Breadcrumbs */
span.current {
  color: #FFFFFF;
  background: #0C3258;
  font-weight: bold;
  padding: 2px; }
span.cant {
  color: #AFB4BB;
  font-weight: bold; }

/* H1 - H3 */
h1 {
  color: #0C3258;
  font-size: 16px;
  font-weight: bold;
  display: inline; }
  h1.login {
    color: #FFFFFF;
    padding: 4px;
    padding-left: 11px;
    background: #11467B;
    border-top: 2px #0C3258 solid;
    font-size: 15px;
    font-weight: bold;
    display: block;
    text-align: left; }
  h1.appstate {
    color: #333333;
    font-size: 16px;
    font-weight: bold;
    display: inline; }

h2 {
  color: #597293;
  font-size: 14px;
  font-weight: bold;
  display: inline; }

h3 {
  color: #3A5270;
  font-size: 12px;
  font-weight: bold;
  display: inline; }

h4 {
  color: #597293;
  font-size: 11px;
  font-weight: bold;
  display: inline; }

h5 {
  color: #FAAFBE;
  font-size: 16px;
  font-weight: bold;
  display: inline; }

ul, li {
  margin-left: 10px;
  padding: 0px; }

/* NAVIGATION LISTS */
ul.active {
  background: #DF680E;
  padding: 5px;
  margin: 10px;
  border: 1px #FFFFFF solid; }
  ul.active a {
    color: #FFFFFF;
    text-decoration: none; }
    ul.active a:hover {
      color: #FFFFFF;
      background: none; }
  ul.active li {
    font-size: 17px;
    font-weight: bold;
    list-style: none; }
ul.inactive {
  background: #CCCCCC;
  padding: 5px;
  margin: 10px;
  border: 1px #999999 solid; }
  ul.inactive:hover {
    color: #000000;
    background: #DF680E;
    padding: 5px;
    margin: 10px;
    border: 1px #ffffff solid; }
  ul.inactive a {
    color: #999999;
    text-decoration: none; }
    ul.inactive a:hover {
      color: #ffffff; }
  ul.inactive li {
    font-size: 17px;
    font-weight: bold;
    list-style: none; }

/*! normalize.css v2.1.0 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio, canvas, video {
  display: inline-block; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }
a:active, a:hover {
  outline: 0; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b, strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap; }

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button, input, select, textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button, input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled], html input[disabled] {
  cursor: default; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'frutiger-black-webfont';
  src: url("v2/fonts/frutiger-black-webfont.eot");
  src: url("v2/fonts/frutiger-black-webfont.eot?#iefix") format("embedded-opentype"), url("v2/fonts/frutiger-black-webfont.woff") format("woff"), url("v2/fonts/frutiger-black-webfont.ttf") format("truetype"), url("v2/fonts/frutiger-black-webfont.svg#frutiger-black-webfont") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'frutiger-bold-webfont';
  src: url("v2/fonts/frutiger-bold-webfont.eot");
  src: url("v2/fonts/frutiger-bold-webfont.eot?#iefix") format("embedded-opentype"), url("v2/fonts/frutiger-bold-webfont.woff") format("woff"), url("v2/fonts/frutiger-bold-webfont.ttf") format("truetype"), url("v2/fonts/frutiger-bold-webfont.svg#frutiger-bold-webfont") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'frutiger-reg-webfont';
  src: url("v2/fonts/frutiger-reg-webfont.eot");
  src: url("v2/fonts/frutiger-reg-webfont.eot?#iefix") format("embedded-opentype"), url("v2/fonts/frutiger-reg-webfont.woff") format("woff"), url("v2/fonts/frutiger-reg-webfont.ttf") format("truetype"), url("v2/fonts/frutiger-reg-webfont.svg#frutiger-reg-webfont") format("svg");
  font-weight: normal;
  font-style: normal; }
.frutiger-black {
  font-family: 'frutiger-black-webfont', 'Arial Black', Gadget, sans-serif !important; }

.frutiger-bold {
  font-family: 'frutiger-bold-webfont', 'Arial Black', Gadget, sans-serif !important; }

.frutiger-regular, div.headcrumbs, div.headcrumbs a, div#content-container table.portal tr.ui-row-0 td h2, body.import-license-body h1.login, body.login-body h1.login {
  font-family: 'frutiger-reg-webfont', 'Arial Black', Gadget, sans-serif !important; }

div.portalheader {
  background-position: left center !important;
  background-repeat: no-repeat !important; }
  div.portalheader.app_int {
    background-image: url("v2/icons/icon-integration.png"); }
  div.portalheader.fed_settings {
    background-image: url("v2/icons/icon-federation.png"); }
  div.portalheader.sp {
    background-image: url("v2/icons/icon-sp.png"); }
  div.portalheader.idp {
    background-image: url("v2/icons/icon-idp.png"); }
  div.portalheader.affiliation {
    background-image: url("v2/icons/icon-affiliation.png"); }
  div.portalheader.dynamicfederation {
    background-image: url("v2/icons/icon-autoconnect.png"); }
  div.portalheader.systemsettings {
    background-image: url("v2/icons/icon-system.png"); }
  div.portalheader.admin {
    background-image: url("v2/icons/icon-admin.png"); }
  div.portalheader.security {
    background-image: url("v2/icons/icon-security.png"); }
  div.portalheader.oauth {
    background-image: url("v2/icons/icon-oauth.png"); }
  div.portalheader.advancedfed {
    background-image: url("v2/icons/icon-idpsp.png"); }

.pf-icon {
  padding-bottom: 0px !important; }
  .pf-icon.active a {
    background: url("v2/icons/icon-active.png") left top no-repeat !important;
    display: block;
    height: 22px;
    line-height: 22px;
    padding-left: 20px; }
  .pf-icon.inactive a {
    background: url("v2/icons/icon-active.png") left top no-repeat !important;
    display: block;
    height: 22px;
    line-height: 22px;
    padding-left: 20px; }
  .pf-icon.saml-1-1 a {
    background: url("v2/icons/icon-saml-1-1.png") left center no-repeat !important;
    display: block;
    height: 20px;
    line-height: 20px;
    margin-bottom: 2px;
    padding-left: 75px; }
  .pf-icon.saml-2-0 a {
    background: url("v2/icons/icon-saml-2-0.png") left center no-repeat !important;
    display: block;
    height: 20px;
    line-height: 20px;
    margin-bottom: 2px;
    padding-left: 75px; }
  .pf-icon.ws-trust-sts a {
    background: url("v2/icons/icon-ws-trust-sts.png") left center no-repeat !important;
    display: block;
    height: 20px;
    line-height: 20px;
    margin-bottom: 2px;
    padding-left: 75px; }

a.arrow {
  background: url("v2/icons/icon-portal-link-arrow.png") left center no-repeat !important;
  display: block;
  float: left;
  padding: 0px 10px 0px 8px; }

.disable-user-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.clearfix, div.headcrumbs, div.breadcrumbs, div#content-container table.portal tr td div.portalpadding div.portal_link, div#content-container div#interior-content-buttons {
  *zoom: 1; }
  .clearfix:before, div.headcrumbs:before, div.breadcrumbs:before, div#content-container table.portal tr td div.portalpadding div.portal_link:before, div#content-container div#interior-content-buttons:before {
    content: " ";
    display: table; }
  .clearfix:after, div.headcrumbs:after, div.breadcrumbs:after, div#content-container table.portal tr td div.portalpadding div.portal_link:after, div#content-container div#interior-content-buttons:after {
    content: " ";
    display: table;
    clear: both; }

.clear {
  clear: both;
  display: block;
  height: 0; }

.inline-block, body.import-license-body div#header-container table.login-table tr.ui-row-1 td.ui-cell-0 table.ui-table-1 tr.ui-row-2 td.ui-cell-0 input,
body.import-license-body div#header-container table.login-table tr.ui-row-2 td.ui-cell-0 table.ui-table-1 tr.ui-row-2 td.ui-cell-0 input,
body.import-license-body div#login table.login-table tr.ui-row-1 td.ui-cell-0 table.ui-table-1 tr.ui-row-2 td.ui-cell-0 input,
body.import-license-body div#login table.login-table tr.ui-row-2 td.ui-cell-0 table.ui-table-1 tr.ui-row-2 td.ui-cell-0 input, body.login-body div#header-container table tr.ui-row-2 td input,
body.login-body div#login table tr.ui-row-2 td input {
  display: inline-block;
  zoom: 1;
  *display: inline; }

.transition, a,
a:active,
a:hover
a:link,
a:visited, input[type="button"],
input[type="submit"], div#content-container div#interior-content-buttons input[type="button"],
div#content-container div#interior-content-buttons input[type="submit"], body.import-license-body div#header-container table.login-table tr.ui-row-1 td.ui-cell-0 table.ui-table-1 tr.ui-row-2 td.ui-cell-0 input,
body.import-license-body div#header-container table.login-table tr.ui-row-2 td.ui-cell-0 table.ui-table-1 tr.ui-row-2 td.ui-cell-0 input,
body.import-license-body div#login table.login-table tr.ui-row-1 td.ui-cell-0 table.ui-table-1 tr.ui-row-2 td.ui-cell-0 input,
body.import-license-body div#login table.login-table tr.ui-row-2 td.ui-cell-0 table.ui-table-1 tr.ui-row-2 td.ui-cell-0 input, body.login-body div#header-container table tr.ui-row-2 td input,
body.login-body div#login table tr.ui-row-2 td input, div#footer-container .inner td.footer div.buttons input[type="submit"] {
  -moz-transition: all 0.1s ease-out;
  -webkit-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out; }

.no-transition {
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none; }

.hide {
  display: none; }

html {
  height: 100%; }

html * {
  font-size: 1em;
  color: #535353;
  font-family: Arial; }

a,
a:active,
a:hover
a:link,
a:visited {
  background: none !important;
  color: #37b9cc;
  text-decoration: none; }

a:hover,
a:active {
  color: #52d6e9; }

table {
  border: none;
  *border-collapse: collapse;
  border-spacing: 0; }

input, select, textarea {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px; }

select,
input[type="text"],
input[type="password"],
textarea {
  -moz-border-radius: 4px !important;
  -webkit-border-radius: 4px !important;
  -o-border-radius: 4px !important;
  border-radius: 4px !important;
  background: #f6f6f6;
  border: 1px solid #d7d7d7;
  padding: 4px 6px; }

select,
input[type="text"],
input[type="password"] {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  vertical-align: middle; }

select {
  background: #f6f6f6;
  border: 1px solid #d7d7d7;
  height: 30px;
  line-height: 30px; }

select[disabled="disabled"] {
  color: #9e9e9e; }

input[type="file"] {
  font-size: inherit;
  line-height: inherit; }

input[type="button"],
input[type="submit"] {
  -moz-border-radius: 4px !important;
  -webkit-border-radius: 4px !important;
  -o-border-radius: 4px !important;
  border-radius: 4px !important;
  background: #f6f6f6;
  border: 1px solid #d7d7d7;
  cursor: pointer;
  font-size: 14px;
  height: 30px;
  text-align: center;
  vertical-align: middle; }

input[type="button"]:hover,
input[type="submit"]:hover {
  background: #dddddd;
  border-color: #bebebe; }

input[disabled="disabled"] {
  color: #9e9e9e; }

h2 {
  color: #535353;
  font-size: 14px;
  text-transform: uppercase; }

div.banner div {
  margin: 0px; }

table.nolines {
  border: none !important; }
  table.nolines tr {
    border: none !important; }
    table.nolines tr td,
    table.nolines tr th {
      border: none !important; }

div#header-container {
  margin: 0 10%; }
  div#header-container tr.ui-row-0 td.ui-cell-0 {
    background: url("v2/header-logo.png") 20px bottom no-repeat;
    height: 65px; }
    div#header-container tr.ui-row-0 td.ui-cell-0 .logo {
      display: none; }
  div#header-container tr.ui-row-1 td.ui-cell-1 {
    background: url("v2/header-logo.png") 20px bottom no-repeat;
    height: 65px; }
    div#header-container tr.ui-row-1 td.ui-cell-1 .logo {
      display: none; }
  div#header-container td.topnav {
    -moz-text-shadow: 0px 0px 1px #000000;
    -webkit-text-shadow: 0px 0px 1px #000000;
    -o-text-shadow: 0px 0px 1px #000000;
    text-shadow: 0px 0px 1px #000000;
    background: none;
    border: none;
    color: #ffffff;
    font-size: 11.5px;
    font-weight: normal;
    padding-top: 0px; }
    div#header-container td.topnav span {
      color: #ffffff; }
      div#header-container td.topnav span a {
        color: #ffffff;
        font-weight: normal;
        padding: 0px 5px; }
        div#header-container td.topnav span a:hover {
          color: #bbbbbb; }

html {
  height: 100%; }

body {
  background-color: #f6f6f6;
  color: #535353;
  height: 100%; }

form {
  height: 100%; }

div#wrapper {
  background: #a5d8ef url("v2/background-body.png") left top repeat-x !important;
  overflow: auto; }

div.portalheader {
  background: none;
  padding: 0px; }

div.portalpadding {
  padding: 0px; }

td.content {
  background: none;
  border: none;
  padding: 0px; }

div.headcrumbs {
  border: none !important;
  background: #f3f3f3 url("v2/background-headcrumbs.png") repeat-x;
  padding: 0px; }
  div.headcrumbs a {
    background: #bebebe url("v2/icons/icon-header-square.png") 10px center no-repeat !important;
    border: none !important;
    border-left: 1px solid #26a6b9 !important;
    border-bottom: 1px solid #26a6b9 !important;
    color: #ffffff !important;
    display: block;
    float: left;
    font-size: 22px;
    height: 45px;
    line-height: 45px;
    padding: 0px 30px 0px 45px !important; }
    div.headcrumbs a img {
      display: none; }
    div.headcrumbs a:hover {
      background-color: #9e9e9e !important; }
    div.headcrumbs a.current {
      background-color: #37b9cc !important;
      border-left: 1px solid #26a6b9 !important;
      padding-left: 55px !important; }
      div.headcrumbs a.current:hover {
        background-color: #52d6e9 !important;
        border-color: #52d6e9; }
    div.headcrumbs a:first-child {
      background: #bebebe url("v2/icons/icon-header-home.png") 10px center no-repeat !important;
      border-left: none !important;
      border-bottom: 1px solid #9e9e9e !important; }

div.breadcrumbs {
  border: none;
  font-size: 13px;
  margin: 0px 0px 10px 0px;
  padding: 0px; }
  div.breadcrumbs a {
    background: #37b9cc !important;
    border-right: 1px solid #26a6b9;
    border-bottom: 1px solid #26a6b9;
    color: #ffffff;
    display: block;
    float: left;
    height: 35px;
    line-height: 35px;
    padding: 0px 10px; }
    div.breadcrumbs a:hover {
      background: #52d6e9 !important;
      padding: 0px 10px; }
  div.breadcrumbs span {
    background: #ffffff url("v2/icons/icon-star.png") 5px center no-repeat;
    border-top: 1px solid #ffffff;
    color: #005669;
    display: block;
    float: left;
    height: 35px;
    line-height: 35px;
    padding: 0px 10px 0px 25px; }
    div.breadcrumbs span.cant {
      background: #ffffff;
      color: #bbbbbb;
      padding: 0 10px; }

div.messagetext {
  background: #ade1e2 url("v2/icons/icon-folder.png") 10px 12px no-repeat;
  color: #3e7c8d;
  font-size: 14px;
  margin: 0px 0px 10px 0px;
  padding-left: 40px;
  font-style: italic; }
  div.messagetext img {
    display: none; }

div.errortext {
  background: #ffc425 url("v2/icons/icon-alert.png") 15px center no-repeat;
  border: none;
  color: #535353 !important;
  font-size: 14px;
  font-weight: bold;
  margin: 0px 0px 10px 0px;
  padding: 15px 15px 15px 50px; }
  div.errortext a {
    color: #535353 !important;
    font-style: italic;
    text-decoration: underline; }
  div.errortext img {
    display: none; }

div.warntext {
  background: #e61c3c url("v2/icons/icon-alert.png") 15px center no-repeat;
  border: none;
  color: #ffffff !important;
  font-size: 14px;
  font-weight: bold;
  margin: 0px 0px 10px 0px;
  padding: 15px 15px 15px 50px;
  text-align: left; }
  div.warntext a {
    color: #ffffff !important;
    font-style: italic;
    text-decoration: underline; }
  div.warntext img {
    display: none; }

div#content-container {
  -webkit-box-shadow: 0px 0px 5px #000000 !important;
  -moz-box-shadow: 0px 0px 5px #000000 !important;
  -o-box-shadow: 0px 0px 5px #000000 !important;
  box-shadow: 0px 0px 5px #000000 !important;
  -moz-border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  -o-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
  background: #ffffff;
  display: table;
  margin: 0px auto;
  min-height: 300px;
  padding: 10px;
  position: relative;
  width: 80%; }
  div#content-container table.summary {
    background: #ffffff;
    margin: 0px; }
    div#content-container table.summary tr {
      background: #f7f7f7; }
      div#content-container table.summary tr td {
        background: none;
        font-size: 12.5px;
        line-height: 20px; }
        div#content-container table.summary tr td.name {
          border-right: 1px solid #e8e8e8; }
        div#content-container table.summary tr td.value {
          padding-left: 10px; }
        div#content-container table.summary tr td.subtasklet {
          width: 325px; }
        div#content-container table.summary tr td.summaryheader {
          display: none; }
      div#content-container table.summary tr.even {
        background: #efefef; }
      div#content-container table.summary tr.row-tasklet {
        background: #ffffff; }
        div#content-container table.summary tr.row-tasklet td {
          background: #9e9e9e;
          border: none;
          color: #ffffff;
          font-size: 16px;
          padding-left: 10px; }
      div#content-container table.summary tr.row-subtasklet {
        background: #ffffff; }
        div#content-container table.summary tr.row-subtasklet td {
          border-bottom: 1px solid #e8e8e8;
          border-top: none;
          padding: 5px 0px 5px 0px; }
          div#content-container table.summary tr.row-subtasklet td a {
            color: #005669;
            font-size: 14px;
            text-transform: uppercase; }
          div#content-container table.summary tr.row-subtasklet td:first-child {
            padding-left: 10px; }
  div#content-container table.portal {
    border: none; }
    div#content-container table.portal tr td {
      background-image: none !important;
      border: none !important;
      line-height: 20px;
      padding: 0px; }
      div#content-container table.portal tr td div.portalheader {
        border-top: 1px solid #bbbbbb;
        margin: 0px 10px;
        font-size: 16px;
        padding: 15px 0px 15px 35px;
        text-transform: uppercase; }
        div#content-container table.portal tr td div.portalheader:first-child {
          border: none; }
      div#content-container table.portal tr td div.portalpadding {
        background-position: 45px top;
        background-repeat: no-repeat;
        padding: 0px 10px 13px 45px; }
        div#content-container table.portal tr td div.portalpadding div.portal_link {
          font-size: 12.5px;
          margin: 0px;
          padding: 0px 0px 3px 0px; }
          div#content-container table.portal tr td div.portalpadding div.portal_link .small {
            font-size: 11px; }
        div#content-container table.portal tr td div.portalpadding.pf-icon {
          padding-bottom: 3px; }
    div#content-container table.portal tr.ui-row-0 td {
      background-color: #bbbbbb !important;
      background-position: 10px center !important;
      background-repeat: no-repeat !important;
      padding: 0px 50px; }
      div#content-container table.portal tr.ui-row-0 td h2 {
        display: block;
        font-size: 28px;
        height: 55px;
        line-height: 55px;
        margin: 0px;
        padding: 0px;
        text-transform: none;
        white-space: nowrap; }
      div#content-container table.portal tr.ui-row-0 td.portal-header-idp {
        background-image: url("v2/icons/icon-header-idp.png") !important; }
      div#content-container table.portal tr.ui-row-0 td.portal-header-system {
        background-image: url("v2/icons/icon-header-server.png") !important; }
      div#content-container table.portal tr.ui-row-0 td.portal-header-security {
        background-image: url("v2/icons/icon-header-server.png") !important; }
      div#content-container table.portal tr.ui-row-0 td.portal-header-sp {
        background-image: url("v2/icons/icon-header-sp.png") !important; }
      div#content-container table.portal tr.ui-row-0 td.ui-cell-1 {
        background-color: #9e9e9e !important; }
    div#content-container table.portal tr.ui-row-1 td.portal-column-outer {
      background: #f6f6f6; }
  div#content-container div#interior-content-buttons {
    background: #bebebe;
    font-size: 12.5px;
    height: 35px;
    line-height: 35px;
    margin-top: 30px; }
    div#content-container div#interior-content-buttons input[type="button"],
    div#content-container div#interior-content-buttons input[type="submit"] {
      -moz-border-radius: 0px !important;
      -webkit-border-radius: 0px !important;
      -o-border-radius: 0px !important;
      border-radius: 0px !important;
      background: #929292;
      border: none;
      color: #ffffff;
      cursor: pointer;
      float: left;
      font-size: 13px;
      height: 35px;
      line-height: 35px;
      margin: 0px;
      padding: 0px 14px; }
      div#content-container div#interior-content-buttons input[type="button"]:hover,
      div#content-container div#interior-content-buttons input[type="submit"]:hover {
        background: #535353; }
      div#content-container div#interior-content-buttons input[type="button"]:first-child,
      div#content-container div#interior-content-buttons input[type="submit"]:first-child {
        background: #37b9cc; }
        div#content-container div#interior-content-buttons input[type="button"]:first-child:hover,
        div#content-container div#interior-content-buttons input[type="submit"]:first-child:hover {
          background: #52d6e9; }
    div#content-container div#interior-content-buttons .margin-right {
      margin-right: 10px !important; }
  div#content-container.no-interior-buttons div#interior-content-buttons {
    display: none; }

table.interior,
table.interiorwhite {
  background: #ffffff; }
  table.interior tr td,
  table.interiorwhite tr td {
    background: #ffffff !important;
    border-bottom: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
    font-size: 12.5px;
    line-height: 20px; }
    table.interior tr td.plain,
    table.interior tr td div,
    table.interior tr td p,
    table.interior tr td ul, table.interior tr td[colspan="3"],
    table.interiorwhite tr td.plain,
    table.interiorwhite tr td div,
    table.interiorwhite tr td p,
    table.interiorwhite tr td ul,
    table.interiorwhite tr td[colspan="3"] {
      white-space: normal; }
    table.interior tr td div,
    table.interiorwhite tr td div {
      line-height: 20px;
      padding-top: 5px; }
    table.interior tr td label,
    table.interiorwhite tr td label {
      margin-right: 10px; }
      table.interior tr td label input,
      table.interiorwhite tr td label input {
        margin-right: 5px !important; }
    table.interior tr td table.interior tr,
    table.interiorwhite tr td table.interior tr {
      background-color: inherit !important; }
      table.interior tr td table.interior tr td,
      table.interiorwhite tr td table.interior tr td {
        padding-top: 0px;
        padding-left: 0px;
        border: none !important;
        background-color: inherit !important; }

body.import-license-body {
  height: 100%;
  overflow: hidden; }
  body.import-license-body form {
    height: 100%; }
  body.import-license-body h1.login {
    background-color: #bbbbbb;
    border: none;
    font-size: 28px;
    height: 55px;
    line-height: 55px;
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 0px 20px; }
  body.import-license-body div#wrapper {
    height: 100%; }
  body.import-license-body div#header-container {
    padding: 15px 0px; }
    body.import-license-body div#header-container td.ui-cell-0 {
      background-position-x: left; }
  body.import-license-body div#header-container,
  body.import-license-body div#login {
    margin: 0 auto;
    min-width: 555px;
    width: 555px; }
    body.import-license-body div#header-container table.login-table tr.ui-row-1 td.ui-cell-0 table.ui-table-1 tr.ui-row-0 td.ui-cell-0,
    body.import-license-body div#header-container table.login-table tr.ui-row-2 td.ui-cell-0 table.ui-table-1 tr.ui-row-0 td.ui-cell-0,
    body.import-license-body div#login table.login-table tr.ui-row-1 td.ui-cell-0 table.ui-table-1 tr.ui-row-0 td.ui-cell-0,
    body.import-license-body div#login table.login-table tr.ui-row-2 td.ui-cell-0 table.ui-table-1 tr.ui-row-0 td.ui-cell-0 {
      padding: 15px 15px 15px 15px; }
    body.import-license-body div#header-container table.login-table tr.ui-row-1 td.ui-cell-0 table.ui-table-1 tr.ui-row-1 td.ui-cell-0,
    body.import-license-body div#header-container table.login-table tr.ui-row-2 td.ui-cell-0 table.ui-table-1 tr.ui-row-1 td.ui-cell-0,
    body.import-license-body div#login table.login-table tr.ui-row-1 td.ui-cell-0 table.ui-table-1 tr.ui-row-1 td.ui-cell-0,
    body.import-license-body div#login table.login-table tr.ui-row-2 td.ui-cell-0 table.ui-table-1 tr.ui-row-1 td.ui-cell-0 {
      padding: 15px 15px 25px 15px; }
      body.import-license-body div#header-container table.login-table tr.ui-row-1 td.ui-cell-0 table.ui-table-1 tr.ui-row-1 td.ui-cell-0 input,
      body.import-license-body div#header-container table.login-table tr.ui-row-2 td.ui-cell-0 table.ui-table-1 tr.ui-row-1 td.ui-cell-0 input,
      body.import-license-body div#login table.login-table tr.ui-row-1 td.ui-cell-0 table.ui-table-1 tr.ui-row-1 td.ui-cell-0 input,
      body.import-license-body div#login table.login-table tr.ui-row-2 td.ui-cell-0 table.ui-table-1 tr.ui-row-1 td.ui-cell-0 input {
        margin-left: 15px; }
    body.import-license-body div#header-container table.login-table tr.ui-row-1 td.ui-cell-0 table.ui-table-1 tr.ui-row-2 td.ui-cell-0,
    body.import-license-body div#header-container table.login-table tr.ui-row-2 td.ui-cell-0 table.ui-table-1 tr.ui-row-2 td.ui-cell-0,
    body.import-license-body div#login table.login-table tr.ui-row-1 td.ui-cell-0 table.ui-table-1 tr.ui-row-2 td.ui-cell-0,
    body.import-license-body div#login table.login-table tr.ui-row-2 td.ui-cell-0 table.ui-table-1 tr.ui-row-2 td.ui-cell-0 {
      background-color: #e6e6e6;
      height: 40px;
      padding: 0px;
      text-align: right; }
      body.import-license-body div#header-container table.login-table tr.ui-row-1 td.ui-cell-0 table.ui-table-1 tr.ui-row-2 td.ui-cell-0 input,
      body.import-license-body div#header-container table.login-table tr.ui-row-2 td.ui-cell-0 table.ui-table-1 tr.ui-row-2 td.ui-cell-0 input,
      body.import-license-body div#login table.login-table tr.ui-row-1 td.ui-cell-0 table.ui-table-1 tr.ui-row-2 td.ui-cell-0 input,
      body.import-license-body div#login table.login-table tr.ui-row-2 td.ui-cell-0 table.ui-table-1 tr.ui-row-2 td.ui-cell-0 input {
        -moz-border-radius: 0px !important;
        -webkit-border-radius: 0px !important;
        -o-border-radius: 0px !important;
        border-radius: 0px !important;
        background: #929292;
        border: none;
        color: #ffffff;
        cursor: pointer;
        font-size: 13px;
        font-weight: bold;
        height: 40px;
        line-height: 40px;
        padding: 0px 20px; }
        body.import-license-body div#header-container table.login-table tr.ui-row-1 td.ui-cell-0 table.ui-table-1 tr.ui-row-2 td.ui-cell-0 input:hover,
        body.import-license-body div#header-container table.login-table tr.ui-row-2 td.ui-cell-0 table.ui-table-1 tr.ui-row-2 td.ui-cell-0 input:hover,
        body.import-license-body div#login table.login-table tr.ui-row-1 td.ui-cell-0 table.ui-table-1 tr.ui-row-2 td.ui-cell-0 input:hover,
        body.import-license-body div#login table.login-table tr.ui-row-2 td.ui-cell-0 table.ui-table-1 tr.ui-row-2 td.ui-cell-0 input:hover {
          background: #535353; }
        body.import-license-body div#header-container table.login-table tr.ui-row-1 td.ui-cell-0 table.ui-table-1 tr.ui-row-2 td.ui-cell-0 input:first-child,
        body.import-license-body div#header-container table.login-table tr.ui-row-2 td.ui-cell-0 table.ui-table-1 tr.ui-row-2 td.ui-cell-0 input:first-child,
        body.import-license-body div#login table.login-table tr.ui-row-1 td.ui-cell-0 table.ui-table-1 tr.ui-row-2 td.ui-cell-0 input:first-child,
        body.import-license-body div#login table.login-table tr.ui-row-2 td.ui-cell-0 table.ui-table-1 tr.ui-row-2 td.ui-cell-0 input:first-child {
          background: #37b9cc; }
          body.import-license-body div#header-container table.login-table tr.ui-row-1 td.ui-cell-0 table.ui-table-1 tr.ui-row-2 td.ui-cell-0 input:first-child:hover,
          body.import-license-body div#header-container table.login-table tr.ui-row-2 td.ui-cell-0 table.ui-table-1 tr.ui-row-2 td.ui-cell-0 input:first-child:hover,
          body.import-license-body div#login table.login-table tr.ui-row-1 td.ui-cell-0 table.ui-table-1 tr.ui-row-2 td.ui-cell-0 input:first-child:hover,
          body.import-license-body div#login table.login-table tr.ui-row-2 td.ui-cell-0 table.ui-table-1 tr.ui-row-2 td.ui-cell-0 input:first-child:hover {
            background-color: #52d6e9; }
  body.import-license-body div#login {
    -webkit-box-shadow: 0px 0px 5px #000000 !important;
    -moz-box-shadow: 0px 0px 5px #000000 !important;
    -o-box-shadow: 0px 0px 5px #000000 !important;
    box-shadow: 0px 0px 5px #000000 !important;
    -moz-border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -o-border-radius: 10px !important;
    border-radius: 10px !important;
    background: #ffffff;
    padding: 10px;
    position: relative; }
  body.import-license-body div#footer-container {
    bottom: 0px;
    position: fixed;
    width: 100%; }
    body.import-license-body div#footer-container div.inner {
      margin: 0px 140px;
      min-width: 575px;
      width: auto; }
      body.import-license-body div#footer-container div.inner td.loginversion {
        text-align: right; }
        body.import-license-body div#footer-container div.inner td.loginversion ul.footer-list.list-0 {
          background: url("v2/footer-logo.gif") right top no-repeat;
          margin-right: 20px;
          padding-top: 70px; }

table.logincontainer {
  background: none;
  border: none; }

body.login-body {
  height: 100%;
  overflow: hidden; }
  body.login-body form {
    height: 100%; }
  body.login-body h1.login {
    background-color: #bbbbbb;
    border: none;
    font-size: 28px;
    height: 55px;
    line-height: 55px;
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 0px 20px; }
  body.login-body div#wrapper {
    height: 100%; }
  body.login-body div#header-container {
    padding: 15px 0px; }
    body.login-body div#header-container table.ui-table-0 tr.ui-row-0 td.ui-cell-0 {
      background-position-x: left;
      padding: 0px; }
  body.login-body div#header-container,
  body.login-body div#login {
    margin: 0 auto;
    min-width: 555px;
    width: 555px; }
    body.login-body div#header-container div#errorMessageDiv,
    body.login-body div#login div#errorMessageDiv {
      background: #e61c3c url("v2/icons/icon-alert.png") 15px center no-repeat;
      border: none;
      color: #ffffff !important;
      display: none;
      font-size: 14px;
      font-weight: bold;
      margin: 0px 0px 10px 0px;
      padding: 15px 15px 15px 50px;
      text-align: left; }
    body.login-body div#header-container table,
    body.login-body div#login table {
      padding: 0px;
      width: 100%; }
      body.login-body div#header-container table tr td,
      body.login-body div#login table tr td {
        padding: 15px 0px; }
        body.login-body div#header-container table tr td span,
        body.login-body div#login table tr td span {
          display: none; }
        body.login-body div#header-container table tr td.ui-cell-0,
        body.login-body div#login table tr td.ui-cell-0 {
          font-size: 12.5px;
          width: 110px; }
        body.login-body div#header-container table tr td.ui-cell-1,
        body.login-body div#login table tr td.ui-cell-1 {
          padding-left: 20px;
          text-align: left; }
      body.login-body div#header-container table tr.ui-row-1 td,
      body.login-body div#login table tr.ui-row-1 td {
        padding-bottom: 25px;
        padding-top: 0px; }
      body.login-body div#header-container table tr.ui-row-2,
      body.login-body div#login table tr.ui-row-2 {
        background-color: #e6e6e6;
        margin-top: 10px; }
        body.login-body div#header-container table tr.ui-row-2 td,
        body.login-body div#login table tr.ui-row-2 td {
          height: 40px;
          padding: 0px;
          text-align: right; }
          body.login-body div#header-container table tr.ui-row-2 td input,
          body.login-body div#login table tr.ui-row-2 td input {
            -moz-border-radius: 0px !important;
            -webkit-border-radius: 0px !important;
            -o-border-radius: 0px !important;
            border-radius: 0px !important;
            background: #929292;
            border: none;
            color: #ffffff;
            cursor: pointer;
            font-size: 13px;
            font-weight: bold;
            height: 40px;
            line-height: 40px;
            padding: 0px 20px; }
            body.login-body div#header-container table tr.ui-row-2 td input:hover,
            body.login-body div#login table tr.ui-row-2 td input:hover {
              background: #535353; }
            body.login-body div#header-container table tr.ui-row-2 td input:first-child,
            body.login-body div#login table tr.ui-row-2 td input:first-child {
              background: #37b9cc; }
              body.login-body div#header-container table tr.ui-row-2 td input:first-child:hover,
              body.login-body div#login table tr.ui-row-2 td input:first-child:hover {
                background-color: #52d6e9; }
    body.login-body div#header-container input[type="text"],
    body.login-body div#header-container input[type="password"],
    body.login-body div#login input[type="text"],
    body.login-body div#login input[type="password"] {
      width: 370px !important; }
  body.login-body div#login {
    -webkit-box-shadow: 0px 0px 5px #000000 !important;
    -moz-box-shadow: 0px 0px 5px #000000 !important;
    -o-box-shadow: 0px 0px 5px #000000 !important;
    box-shadow: 0px 0px 5px #000000 !important;
    -moz-border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -o-border-radius: 10px !important;
    border-radius: 10px !important;
    background: #ffffff;
    padding: 10px;
    position: relative; }
  body.login-body div#footer-container {
    bottom: 0px;
    position: fixed;
    width: 100%; }
    body.login-body div#footer-container div.inner {
      margin: 0px 140px;
      min-width: 575px;
      width: auto; }
      body.login-body div#footer-container div.inner td.loginversion {
        text-align: right; }
        body.login-body div#footer-container div.inner td.loginversion ul.footer-list.list-0 {
          background: url("v2/footer-logo.gif") right top no-repeat;
          margin-right: 20px;
          padding-top: 70px; }

td.footer {
  background: none;
  border: none;
  padding: 0px; }

div#footer-container {
  background-color: #f6f6f6;
  border-top: 1px solid #bbbbbb;
  width: 100%; }
  div#footer-container .inner {
    margin: 0 10%;
    width: 80%; }
    div#footer-container .inner td.version {
      padding: 20px 0px 20px 0px; }
    div#footer-container .inner td.footer div.buttons {
      display: block;
      float: none;
      padding: 20px 20px 0px 0px;
      text-align: right; }
      div#footer-container .inner td.footer div.buttons input[type="submit"] {
        -moz-border-radius: 0px !important;
        -webkit-border-radius: 0px !important;
        -o-border-radius: 0px !important;
        border-radius: 0px !important;
        background: #37b9cc;
        border: none;
        color: #ffffff;
        cursor: pointer;
        font-size: 13px;
        height: 35px;
        line-height: 35px;
        margin-left: 10px;
        padding: 0px 14px; }
        div#footer-container .inner td.footer div.buttons input[type="submit"]#finishButton {
          font-weight: bold; }
        div#footer-container .inner td.footer div.buttons input[type="submit"]:hover {
          background: #52d6e9; }
    div#footer-container .inner ul.footer-list {
      list-style-type: none;
      margin: 0px;
      padding: 0px; }
      div#footer-container .inner ul.footer-list li {
        color: #929292;
        margin: 0px;
        padding: 1px 0px; }
        div#footer-container .inner ul.footer-list li a {
          color: #929292;
          text-decoration: underline; }
          div#footer-container .inner ul.footer-list li a:active, div#footer-container .inner ul.footer-list li a:hover {
            color: #535353; }
        div#footer-container .inner ul.footer-list li b {
          color: #929292; }
        div#footer-container .inner ul.footer-list li img {
          display: none; }
        div#footer-container .inner ul.footer-list li span {
          color: #929292; }
      div#footer-container .inner ul.footer-list.list-0 {
        margin-left: 20px; }
        div#footer-container .inner ul.footer-list.list-0 li.item-3 {
          padding-bottom: 15px; }
      div#footer-container .inner ul.footer-list.list-1 {
        background: url("v2/footer-logo.gif") right top no-repeat;
        margin-right: 20px;
        padding-top: 70px; }
