@font-face { font-family: 'ProximaNovaRegular'; font-weight: normal; src: url("../fonts/proxima-nova/ProximaNova-Regular.otf"); }
@font-face { font-family: 'ProximaNovaBold'; font-weight: bold; src: url("../fonts/proxima-nova/ProximaNova-Bold.otf"); }
@font-face { font-family: 'ProximaNovaLight'; font-weight: normal; src: url("../fonts/proxima-nova/ProximaNova-Light.otf"); }
@font-face { font-family: 'ProximaNovaSemibold'; font-weight: normal; src: url("../fonts/proxima-nova/ProximaNova-Semibold.otf"); }
@font-face { font-family: 'ProximaNovaCondRegular'; font-weight: normal; src: url("../fonts/proxima-nova/ProximaNovaCond-Regular.otf"); }
.input-select { background: none; border: none; border-radius: 0; }
.input-select:after { content: none; }
.input-select select { padding: 0; border: 1px solid #D1D3D4; width: auto; }
.input-select.error select { border-color: 1px solid #DF3320; }
.input-select.required select { padding-right: 0; }

/*# sourceMappingURL=ie9.css.map */
