div#header-container
{
	margin: 0 10%;
	//margin: 0px auto;
	//min-width: $min-width;
	//width: 80%;
	tr.ui-row-0
	{
		td.ui-cell-0
		{
			background: url("v2/header-logo.png") 20px bottom no-repeat;
			height: 65px;
			.logo
			{
				display: none;
			}
		}
	}
	tr.ui-row-1
	{
		td.ui-cell-1
		{
			background: url("v2/header-logo.png") 20px bottom no-repeat;
			height: 65px;
			.logo
			{
				display: none;
			}
		}
	}
	td.topnav
	{
		@include text_shadow(0px, 0px, 1px, $black);

		background: none;
		border: none;
		color: $white;
		font-size: 11.5px;
		font-weight: normal;
		padding-top: 0px;
		span
		{
			color: $white;
			a
			{
				color: $white;
				font-weight: normal;
				padding: 0px 5px;
				&:hover
				{
					color: $grey;
				}
			}
		}
	}
}