$white: #ffffff;
$off-white: #f3f3f3;

$black: #000000;
$yellow: #ffc425;
$red: #e61c3c;

$dark-blue: #005669;
$blue: #37b9cc;
$light-blue: #a3cad2;
$aqua: #52d6e9;
$breadcrumb-border: #26a6b9;
$message-background-blue: #ade1e2;
$message-text-blue: #3e7c8d;

$dark-grey: #9e9e9e;
$grey: #bbbbbb;
$light-grey: #e6e6e6;
$footer-grey: #f6f6f6;
$headcrumb-home-grey: #bebebe;
$summary-table-border: #e8e8e8;
$summary-table-row: #f7f7f7;
$summary-table-row-even: #efefef;

$text-grey: #535353;
$text-light-grey: #929292;

$background-blue: #a5d8ef;

$interior-content-button-background: #bebebe;
$interior-content-button-first-child: #44b8cd;
$interior-content-button-second-child: #929292;

$footer-button-border: #d7d7d7;
$footer-button-text: #505050;

$text-input-border: #d7d7d7;
$text-input-border-darken: darken($text-input-border, 10%);
$text-input-background: #f6f6f6;
$text-input-background-darken: darken($text-input-background, 10%);

$min-width: 1200px;