.disable-user-select
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.border-box
{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.clearfix
{
    &:before
    {
        content: " ";
        display: table;
    }
    &:after
    {
        content: " ";
        display: table;
        clear: both;
    }
    *zoom: 1;
}

.clear
{
    clear: both;
    display: block;
    height: 0;
}

.inline-block
{
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.transition
{
    -moz-transition: all 0.1s ease-out;
    -webkit-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}

.no-transition
{
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}

.hide
{
	display: none;
}

html
{
	height: 100%;
}
html *
{
   font-size: 1em;
   color: $text-grey;
   font-family: Arial;
}

a,
a:active,
a:hover
a:link,
a:visited
{
	@extend .transition;

	background: none !important;
	color: $blue;
	text-decoration: none
}
a:hover,
a:active
{
	color: $aqua;
}

table
{
	border: none;
	*border-collapse: collapse;
    border-spacing: 0;

	}
input, select, textarea
{
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
}

select,
input[type="text"],
input[type="password"],
textarea
{
	@include rounded(4px);

	background: $text-input-background;
	border: 1px solid $text-input-border;
	padding: 4px 6px;
}

select,
input[type="text"],
input[type="password"]
{
	display: inline-block;
	height: 20px;
	line-height: 20px;
	vertical-align: middle;
}

select
{
	background: $text-input-background;
	border: 1px solid $text-input-border;
	height: 30px;
	line-height: 30px;
}
select[disabled="disabled"] 
{
  color: $dark-grey; 
}

input[type="file"]
{
	font-size: inherit;
	line-height: inherit;
}

input[type="button"],
input[type="submit"]
{
	@include rounded(4px);

	background: $text-input-background;
	border: 1px solid $text-input-border;
	cursor: pointer;
	font-size: 14px;
	height: 30px;
	//line-height: 30px;
	text-align: center;
	vertical-align: middle;
}
input[type="button"],
input[type="submit"]
{
	@extend .transition;

	&:hover
	{
		background: $text-input-background-darken;
		border-color: $text-input-border-darken;
	}
}
input[disabled="disabled"]
{
	color: $dark-grey;
}
table
{
	tr
	{
		td
		{
			//vertical-align: middle !important;
			//line-height: 20px;
		}
	}
}

h2
{
	color: $text-grey;
	font-size: 14px;
	text-transform: uppercase;
}

div.banner
{
	div
	{
		margin: 0px;
	}
}

table.nolines
{
	border: none !important;
	tr
	{
		border: none !important;
		td,
		th
		{
			border: none !important;
		}
	}
}
