td.content
{
	background: none;
	border: none;
	padding: 0px;
}

div.headcrumbs
{
	@extend .clearfix;
	@extend .frutiger-regular;

	border: none !important;
	background: $off-white url("v2/background-headcrumbs.png") repeat-x;
	padding: 0px;
	a
	{
		@extend .frutiger-regular;

		background: $headcrumb-home-grey url("v2/icons/icon-header-square.png") 10px center no-repeat !important;
		border: none !important;
		border-left: 1px solid $breadcrumb-border !important;
		border-bottom: 1px solid $breadcrumb-border	 !important;
		color: $white !important;
		display: block;
		float: left;
		font-size: 22px;
		height: 45px;
		line-height: 45px;
		padding: 0px 30px 0px 45px !important;
		img
		{
			display: none;
		}
		&:hover
		{
			background-color: $dark-grey !important;
		}
		&.current
		{
			background-color: $blue !important;
			border-left: 1px solid $breadcrumb-border !important;
			padding-left: 55px !important;
			&:hover
			{
				background-color: $aqua !important;
				border-color: $aqua;
			}
		}
		&:first-child
		{
			background: $headcrumb-home-grey url("v2/icons/icon-header-home.png") 10px center no-repeat !important;
			border-left: none !important;
			border-bottom: 1px solid $dark-grey !important;
		}
	}
}

div.breadcrumbs
{
	@extend .clearfix;
	border: none;
	font-size: 13px;
	margin: 0px 0px 10px 0px;
	padding: 0px;
	a
	{
		background: $blue !important;
		border-right: 1px solid $breadcrumb-border;
		//border-top: 1px solid $breadcrumb-border;
		border-bottom: 1px solid $breadcrumb-border;
		color: $white;
		display: block;
		float: left;
		height: 35px;
		line-height: 35px;
		padding: 0px 10px;
		&:hover
		{
			background: $aqua !important;
			padding: 0px 10px;
		}
	}
	span
	{
		background: $white url("v2/icons/icon-star.png") 5px center no-repeat;
		border-top: 1px solid $white;
		color: $dark-blue;
		display: block;
		float: left;
		height: 35px;
		line-height: 35px;
		padding: 0px 10px 0px 25px;
		&.cant
		{
			background: $white;
			color: $grey;
			padding: 0 10px;
		}
	}
}

div.messagetext
{
	background: $message-background-blue url("v2/icons/icon-folder.png") 10px 12px no-repeat;
	color: $message-text-blue;
	font-size: 14px;
	margin: 0px 0px 10px 0px;
	padding-left: 40px;
	font-style: italic;
	img
	{
		display: none;
	}
}

div.errortext
{
	background: $yellow url("v2/icons/icon-alert.png") 15px center no-repeat;
	border: none;
	color: $text-grey !important;
	font-size: 14px;
	font-weight: bold;
	margin: 0px 0px 10px 0px;
	padding: 15px 15px 15px 50px;
	a
	{
		color: $text-grey !important;
		font-style: italic;
		text-decoration: underline;
	}
	img
	{
		display: none;
	}
}

div.warntext
{
	background: $red url("v2/icons/icon-alert.png") 15px center no-repeat;
	border: none;
	color: $white !important;
	font-size: 14px;
	font-weight: bold;
	margin: 0px 0px 10px 0px;
	padding: 15px 15px 15px 50px;
	text-align: left;
	a
	{
		color: $white !important;
		font-style: italic;
		text-decoration: underline;
	}
	img
	{
		display: none;
	}
}

div#content-container
{
	@include shadow(0px, 0px, 5px, $black);
	@include rounded_top(10px);

	background: $white;
	display: table;
	margin: 0px auto;
	min-height: 300px;
	//min-width: $min-width;
	padding: 10px;
	position: relative;
	width: 80%;

	table.summary
	{
		background: $white;
		margin: 0px;
		tr
		{
			background: $summary-table-row;
			td
			{
				background: none;
				font-size: 12.5px;
				line-height: 20px;
				&.name
				{
					border-right: 1px solid $summary-table-border;
				}
				&.value
				{
					padding-left: 10px;
				}
				&.subtasklet
				{
					width: 325px;
				}
				&.summaryheader
				{
					display: none;
				}
			}
			&.even
			{
				background: $summary-table-row-even;
			}
			&.row-tasklet
			{
				background: $white;
				td
				{
					background: $dark-grey;
					border: none;
					color: $white;
					font-size: 16px;
					padding-left: 10px;
				}
			}
			&.row-subtasklet
			{
				background: $white;
				td
				{
					border-bottom: 1px solid $summary-table-border;
					border-top: none;
					padding: 5px 0px 5px 0px;
					a
					{
						color: $dark-blue;
						font-size: 14px;
						text-transform: uppercase;
					}
					&:first-child
					{
						padding-left: 10px;
					}
				}
			}
		}
	}
	table.portal
	{
		border: none;
		tr
		{
			td
			{
				background-image: none !important;
				border: none !important;
				line-height: 20px;
				padding: 0px;
				div.portalheader
				{
					border-top: 1px solid $grey;
					margin: 0px 10px;
					font-size: 16px;
					padding: 15px 0px 15px 35px;
					text-transform: uppercase;
					&:first-child
					{
						border: none;
					}
				}
				div.portalpadding
				{
					background:
					{
						position: 45px top;
						repeat: no-repeat;
					}
					padding: 0px 10px 13px 45px;
					img
					{
						//display: none;
					}
					div.portal_link
					{
						@extend .clearfix;

						font-size: 12.5px;
						margin: 0px;
						padding: 0px 0px 3px 0px;
						.small
						{
							font-size: 11px;
						}
					}
					&.pf-icon
					{
						padding-bottom: 3px;
					}
				}
			}
			&.ui-row-0
			{
				td
				{
					background:
					{
						color: $grey !important;
						position: 10px center !important;
						repeat: no-repeat !important;
					}
					padding: 0px 50px;
					h2
					{
						@extend .frutiger-regular;

						display: block;
						font-size: 28px;
						height: 55px;
						line-height: 55px;
						margin: 0px;
						padding: 0px;
						text-transform: none;
						white-space: nowrap;
					}
					&.portal-header-idp
					{
						background-image: url("v2/icons/icon-header-idp.png") !important;
					}
					&.portal-header-system
					{
						background-image: url("v2/icons/icon-header-server.png") !important;
					}
					&.portal-header-security
					{
						background-image: url("v2/icons/icon-header-server.png") !important;
					}
					&.portal-header-sp
					{
						background-image: url("v2/icons/icon-header-sp.png") !important;
					}
					&.ui-cell-1
					{
						background-color: $dark-grey !important;
					}
				}
			}
			&.ui-row-1
			{
				td
				{
					&.portal-column-outer
					{
						background: $footer-grey;
					}
				}
			}
		}
	}
	div#interior-content-buttons
	{
		@extend .clearfix;
		background: $interior-content-button-background;
		font-size: 12.5px;
		height: 35px;
		line-height: 35px;
		margin-top: 30px;

		input[type="button"],
		input[type="submit"]
		{
			@extend .transition;
			@include rounded(0px);

			background: $interior-content-button-second-child;
			border: none;
			color: $white;
			cursor: pointer;
			float: left;
			font-size: 13px;
			height: 35px;
			line-height: 35px;
			margin: 0px;
			padding: 0px 14px;
			&:hover
			{
				background: $text-grey;
			}
			&:first-child
			{
				background: $blue;
				&:hover
				{
					background: $aqua;
				}
			}
		}
		label,
		select,
		span
		{
			//font-size: 12.5px;
			//margin: 0px 10px;
		}
		.margin-right
		{
			margin-right: 10px !important;
		}
	}
	&.no-interior-buttons
	{
		//padding-bottom: 0px;
		div#interior-content-buttons
		{
			display: none;
		}
	}
}

table.interior,
table.interiorwhite
{
	background: $white;
	tr
	{
		//background: $summary-table-row;
		td
		{
			background: $white !important;
			border-bottom: 1px solid $summary-table-border;
			border-top: 1px solid $summary-table-border;
			font-size: 12.5px;
			line-height: 20px;
			&.plain,
			div,
			p,
			ul,
			&[colspan="3"]
			{
				white-space: normal;
			}
			div
			{
				line-height: 20px;
				padding-top: 5px;
			}
			label
			{
				margin-right: 10px;
				input
				{
					margin-right: 5px !important;
				}
			}
			table.interior
			{
				tr
				{
					background-color: inherit !important;
					td
					{
						padding-top: 0px;
						padding-left: 0px;
						border: none !important;
						background-color: inherit !important;
					}
				}
			}
		}
		&.even
		{
			td
			{
				//background: $summary-table-row-even;
			}
		}
	}
}